##messageSource=classpath:/earthordermanagmentcustomaddon/messages/document-packlabel_$lang.properties
<html>
<head>
    <style type='text/css'>@media screen, print {
        table {
            width: 100%;
            margin: 25px 10px 0;
            font-family: "Open Sans", sans-serif;
            color: #000;
        }
        th {
            padding: 5px 5px 5px 15px;
            font-weight: bold;
            text-align: left;
        }
        td {
            padding: 5px 0 5px 15px;
        }
        
        div.pick-slip-border{
            border-top: 1px solid #e5e9ed;
        }
        
        td.headline{
              font-size: 20px;
    font-weight: 600;
    padding-bottom: 15px;
    color: #000;
        }
        td.table-header{
            font-size: 19px;
            font-weight: 600;
            color: #000;
        }
        .sitelogo div{
        text-align:left !important;}
            .sitelogo{padding-top: 50px;}
        .sitelogo img{
            max-width: 300px;
        }
        body>table{
            max-width: 1200px;
            margin-left:auto;
            margin-right:auto;
            width:100%;
        }
strong{color: #000;
    font-weight: 600;}
    }</style>
</head>
<body>
<table>
 <tr>
        <td style="weight:30%;text-align: left;font-size: 10px;margin-bottom: 0px;">
          <span style="direction: rtl;">رقم الطلب</span>
          <span> # ORDER </span>
          <br>
          <img src="${ctx.mediaBaseUrl}${ctx.barcode.url}" alt="" style="max-width: 100px;" />
        </td>
        <td colspan="2" class="sitelogo" align="center" valign="middle">
        ${ctx.cmsSlotContents.SiteLogo}
        </td>
        <td><!--company name data--></td>
    </tr>
    <tr>
        <td align="center" valign="middle">
            <a href="${ctx.baseUrl}" style="display:block; margin-top: 30px;margin-bottom:10px;">${ctx.cmsSlotContents.TopContent}</a>
        </td>
    </tr>
    <tr>
        #foreach($packInfo in $ctx.consignment.packaginginfos)
            <table>
                
                <tr>
                    <td colspan="3"><div class="pick-slip-border"></div></td>
                </tr>
            
                
                <tr>
                    <td style="text-align: left;vertical-align: top;">
                        <strong>$!{ctx.messages.shipTo} </strong><br/><br/>
                        $!{ctx.escapeHtml($ctx.consignment.shippingAddress.title)} 
                        $!{ctx.escapeHtml($ctx.consignment.shippingAddress.firstname)} $!{ctx.escapeHtml($ctx.consignment.shippingAddress.lastname)}<br/>
                        
                        #if(${ctx.consignment.order.deliveryInstructions} && ${ctx.consignment.order.deliveryInstructions} != '')
                            <br/><br/> <strong>$!{ctx.messages.deliveryInstructions}</strong> <br/>
                            $!{ctx.escapeHtml($ctx.consignment.order.deliveryInstructions)} <br/>
                        #end
                    </td>
                    <td style="text-align: left;vertical-align: top;">
                   <strong> $!{ctx.messages.shippingAddressLine1}</strong> <br/>  <br/>
                        $!{ctx.escapeHtml($ctx.consignment.shippingAddress.line1)} <br /> 
                          $!{ctx.escapeHtml($ctx.consignment.shippingAddress.line2)} <br /> 
                          $!{ctx.escapeHtml($ctx.consignment.shippingAddress.city.name)} <br /> 
                          $!{ctx.escapeHtml($ctx.consignment.shippingAddress.area.name)} <br /> 
                          $!{ctx.escapeHtml($ctx.consignment.shippingAddress.country.name)} <br /> 
                          $!{ctx.escapeHtml($ctx.consignment.shippingAddress.mobile)} <br /> 
                          $!{ctx.escapeHtml($ctx.consignment.shippingAddress.nearestLandmark)} <br /> 
                          $!{ctx.escapeHtml($ctx.consignment.shippingAddress.buildingName)} <br /> 
                          $!{ctx.escapeHtml($ctx.consignment.shippingAddress.floorNumber)} <br /> 
                          $!{ctx.escapeHtml($ctx.consignment.shippingAddress.apartmentNumber)} <br /> 
                          $!{ctx.escapeHtml($ctx.consignment.shippingAddress.deliveryNotes)} <br />
                    </td>
                    <td  style="    text-align: left;vertical-align: top;">
                    <strong>Payment Method</strong><br/><br/>
                    #if (${ctx.order.paymentMode})
                    $!{ctx.escapeHtml($ctx.order.paymentMode.name)}
                    #end
                    <br/><br/> <strong>$!{ctx.messages.shippingAddressPhone}</strong> <br/><br/>
                      $!{ctx.escapeHtml($ctx.consignment.shippingAddress.mobile)} <br/>
                     
                    </td>
                   
                                     
                </tr>
                <tr>
                 <td colspan="3" style="padding:0;vertical-align: top;">
                 <table style="margin:25px 0;width:100%"><tr>
                 <td>   <strong>$!{ctx.messages.companyname}</strong> <br/><br/>
                    <strong>$!{ctx.messages.companyaddress}</strong> <br/><br/>
                    <strong>$!{ctx.messages.trnnumber}</strong> <br/><br/>
                   
                 </td>
                 <td colspan="2" style="padding-left: 60px;vertical-align: top;">
                    $!{ctx.messages.companynamedesc} <br/><br/>
                    $!{ctx.messages.companyaddressdesc} <br/><br/>
                    $!{ctx.messages.trnnumberdesc} <br/><br/>
                 </td>
                 </tr></able>
                     </td>
                 </tr>
                
               
                
            </table>
            <table style="margin:25px 0;width:100%" >
            
               <tr>
                    <td colspan="2">&nbsp;</td>
                    <td colspan="4">Page $foreach.count of $ctx.consignment.packaginginfos.size()</td>
                </tr>
                <tr>
                    <td colspan="2" class="headline" style="padding-bottom:0px"><span>$!{ctx.messages.customerOrder}</span></td>
                    <td colspan="4">
                        <strong>$!{ctx.messages.packInfo}</strong>&nbsp;
                        ($!{ctx.messages.packInfoWidth} $!{ctx.escapeHtml($packInfo.width)}&nbsp;||&nbsp;
                        $!{ctx.messages.packInfoHeight} $!{ctx.escapeHtml($packInfo.height)}&nbsp;||&nbsp;
                        $!{ctx.messages.packInfoLength} $!{ctx.escapeHtml($packInfo.length)})
                    </td>
                </tr>
               
                <tr>
                    <td colspan="6"><div class="pick-slip-border"></div></td>
                </tr>
               
                <tr>
                    
                    <th><strong>$!{ctx.messages.productImage}</strong></th>
                    <th colspan="2"><strong>$!{ctx.messages.productDescription}</strong></th>
                    
                    <th style="text-align:right;padding-right:95px"><strong>$!{ctx.messages.productPrice}</strong></th>
                    <th><strong>$!{ctx.messages.productQuantity}</strong></th>
                    <th style="text-align:right;"><strong>$!{ctx.messages.totalPrice}</strong></th>
                </tr>
                <tr>
                    <td colspan="6"><div class="pick-slip-border"></div></td>
                </tr>
                #foreach( $consignmentEntry in ${ctx.consignmentData.entries} )
                    <tr>
                        <td><img src="${ctx.mediaBaseUrl}$!{ctx.getCustomProductImageURL($consignmentEntry.orderEntry.product)}" /></td>
                        <td colspan="2">$!{ctx.escapeHtml($consignmentEntry.orderEntry.product.name)}<br/>
                  
                            <strong> $!{ctx.escapeHtml($consignmentEntry.orderEntry.product.unitOfMeasureDescription)}</strong>
                        </td>
                     
                        <td style="text-align:right;padding-right:93px">$!{ctx.number.format('#0.00', $!{consignmentEntry.orderEntry.basePrice.value})}</td>
                        <td style="padding-left: 0;">
                            #if($!{consignmentEntry.orderEntry.product.unit.unitType} == 'KG')
                                                       $!{consignmentEntry.wieghtedQuantity} $!{ctx.messages.outOf} $!{consignmentEntry.orderEntry.wieghtedQuantity}
                                                      #else $!{consignmentEntry.quantity} $!{ctx.messages.outOf} $!{consignmentEntry.orderEntry.quantityPending}
                                                      #end $!{consignmentEntry.orderEntry.product.unit.unitType}</td>
                        <td style="text-align:right; padding-right: 5px;">$!{ctx.number.format('#0.00', $!{consignmentEntry.orderEntry.totalPrice.value})}</td>
                    </tr>
                #end
                <tr>
                    <td colspan="6"><div class="pick-slip-border"></div></td>
                </tr>
               
                <tr>
                    <td colspan="3"></td>
                    <td colspan="2">$!{ctx.messages.subTotal}</td>
                    <td style="text-align:right;">$!{ctx.number.format('#0.00', $!{ctx.orderData.subTotalBeforeSavingPrice.value})}</td>
                </tr>
                 #if($!{ctx.orderData.totalDiscounts} && $!{ctx.orderData.totalDiscounts.value} > 0)
                 <tr>
                    <td colspan="3"></td>
                    <td colspan="2">$!{ctx.messages.orderDiscount}</td>
                    <td style="text-align:right;">-$!{ctx.number.format('#0.00', $!{ctx.orderData.totalDiscounts.value})}</td>
                </tr>
                #end
                <tr>
                    <td colspan="3"></td>
                    <td colspan="2">$!{ctx.messages.shipping}</td>
                    <td style="text-align:right;">#if(${ctx.orderData.deliveryCost} && ${ctx.orderData.deliveryCost.value} > 0) ${ctx.orderData.deliveryCost.value} #else ${ctx.messages.free} #end</td>
                </tr>
                <tr>
                    <td colspan="3"></td>
                    <td colspan="2">$!{ctx.messages.vat}</td>
                    <td style="text-align:right;">$!{ctx.number.format('#0.00', $!{ctx.orderData.totalTax.value})}</td>
                </tr>
                                
                 #if (${ctx.orderData.storeCreditAmount}) 
                <tr>
                    <td colspan="3"></td>
                    <td colspan="2">$!{ctx.messages.storeCreditAmount}</td>
                    <td style="text-align:right;">$!{ctx.number.format('#0.00', $!{ctx.orderData.storeCreditAmount.value})}</td>
                </tr>
                 #end
                 #if (${ctx.orderData.expectedLoyaltyRedeemAmount}) 
                <tr>
                    <td colspan="3"></td>
                    <td colspan="2">$!{ctx.messages.expectedLoyaltyRedeemAmount}</td>
                    <td style="text-align:right;">$!{ctx.number.format('#0.00', $!{ctx.orderData.expectedLoyaltyRedeemAmount.value})}</td>
                </tr>
                 #end
                  
                <tr>
                    <td colspan="3"></td>
                    <td colspan="3"><div class="pick-slip-border"></div></td>
                </tr>
                <tr>
                    <td colspan="3"></td>
                    <td colspan="2"><span style="font-weight:bold">$!{ctx.messages.total}</span></td>
                    #set ($total = $!{ctx.orderData.totalPriceWithTax.value})
                    <td style="text-align:right;"><span style="font-weight:bold">$!{ctx.number.format('#0.00', $total)}</span></td>
                </tr>
            </table>
          
        #end
    </tr>
    <tr>
        <td align="center" valign="middle">
            <a href="${ctx.baseUrl}" style="display:block; margin-top:10px;margin-bottom:10px;">${ctx.cmsSlotContents.BottomContent}</a>
        </td>
    </tr>
</table>
</body>
</html>
<!--
                    <td>
                    
                        $!{ctx.messages.billingAddressLine1} <br/>
                        $!{ctx.messages.billingAddressLine2} <br/>
                        $!{ctx.messages.billingAddressCity} <br/>
                        $!{ctx.messages.billingAddressPostalCode} <br/>
                        $!{ctx.messages.billingAddressPhone} <br/>
                    </td>
                    <td>
                        $!{ctx.escapeHtml($ctx.order.paymentAddress.line1)} <br/>
                        $!{ctx.escapeHtml($ctx.order.paymentAddress.line2)} <br/>
                        $!{ctx.escapeHtml($ctx.order.paymentAddress.town)} <br/>
                        $!{ctx.escapeHtml($ctx.order.paymentAddress.postalcode)} <br/>
                        $!{ctx.escapeHtml($ctx.order.paymentAddress.phone1)} <br/>
                    </td>
                    -->
                     <!--
                    <td colspan="2">
                        <strong>$!{ctx.messages.billTo} </strong><br/>
                        $!{ctx.escapeHtml($ctx.order.paymentAddress.firstname)} $!{ctx.escapeHtml($ctx.order.paymentAddress.lastname)}
                    </td> 
                    -->