ul.nav__links {

  &::after {
    content: "";
    display: block;
    clear: both;
  }

  li {
    float: none;
    list-style-type: none;
  }

  &::after {
    clear: both;
  }

  @media (max-width: @screen-sm-max) {
    &:before {
      content: " ";
      display: table;
    }
  }

}

.branding-mobile {
  padding: 10px 0 9px 0;
  z-index: 99;
  background-color: @header-background-color;
  .full-width-padding();
}

.navigation.navigation--top {
  .full-width-padding();
}

.navigation--top .nav__left {
  padding: 9px 0 7px;

  .simple-banner-component img,
  .banner__component img {
    width: auto;
  }
}

.miniCartSlot > div[data-ng-transclude]{
  display: inline-block;
}

.navigation--top .nav__right {

  .nav__links--account {
    margin: 0;
    padding-left: 0;
    float: right;

    // This is a alternative approach to deal with smartedit
    div[data-smartedit-component-id="HeaderLinksSlot"]{
      display: inline-block;
      float: left;

      li:last-child a{
        padding-right: 12px;
      }
    }

    li {
      display: block;
      font-size: 12px;
      color: @meta-nav-color;
      font-weight: 400;
      text-transform: uppercase;

      &:last-child {
        a {
          padding-right: 0;

        }
      }

      &.logged_in {
        padding: 10px;
      }

      button {
        background: transparent none repeat scroll 0% 0% !importnat;
        border: medium none;
        color: rgb(0, 104, 179);
        font-size: 1em;
        text-transform: uppercase;

        &:hover {
          background: none;
          text-decoration: none;
          color: @meta-nav-hover-color;
        }
      }

      a {
        color: inherit;
        cursor: pointer;
        text-transform: uppercase;
        font-weight: 400;
        padding: 11px 12px 12px;
        display: block;
        font-size: 17px;
        line-height: 1.329em;
        color:#000;

        &:hover {
          text-decoration: none;
          color: @meta-nav-hover-color;
        }
      }
    }

    .myAccountLinksHeader,
    .myCompanyLinksHeader {
      background-color: transparent;
      color: inherit;
      display: block;
      height: 40px;
      line-height: 40px;
      cursor: pointer;
      padding: 0 12px;

      &::after {
        clear: both;
      }

      &:hover,
      &:focus {
        color: @meta-nav-hover-color;
        text-decoration: none;
      }
    }

    .myAccountLinksHeader.show,
    .myCompanyLinksHeader.show {
      background-color: @meta-nav-background;
      color: @meta-nav-color-open;
      text-decoration: none;
      display: block;
      height: 40px;
      line-height: 40px;
      cursor: pointer;
      padding: 0 12px;
    }
  }
}

#accNavComponentDesktopOne,
#accNavComponentDesktopTwo {
  padding: 0;
  background-color: @meta-nav-background;

  ul.nav__links {
    width: 100%;
    padding: 0px;
    margin-bottom: 0px;

    li {
      text-transform: capitalize;
      list-style: none;
      font-size: 12px;
      color: @meta-nav-color;
      font-weight: 400;
      padding: 0;
      border-right: 1px solid @meta-nav-border-color;
      border-bottom: 1px solid @meta-nav-border-color;

      &:hover {
        background-color: @meta-nav-hover-background;
      }

      a {
        color: @meta-nav-color-open;
        display: block;
        padding: 25px 0 25px 30px;
        font-size: 15px;
        font-weight: 400;

        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}

.navigation--middle {

  @media (min-width: @screen-md) {

  }

  @mobile-nav-icon-font-size: 30px;
  @media (max-width: @screen-sm-max) {
    //display: table;
    //width: 100%;
  }

  .nav__table {
    @media (max-width: @screen-sm-max) {
      //display: table-row-group;
    }
  }

  .row {
    @media (max-width: @screen-sm-max) {
      //display: table-row;
      &:first-child {
        border: none;
      }
    }
  }

  .btn {
    background-color: transparent;
    width: 100%;
    padding: 0;
    height: 100%;
    color: @btn-primary-bg;
    border: none;
  }

  .nav__left {
    @media (min-width: @screen-md) {
      padding-left: 30px;
      padding-right: 30px;
    }

    .site-search {
      background-color: transparent;
      z-index: 2;

      @media (min-width: @screen-sm) and (max-width: @screen-sm-max){
        margin-left: -10px;
      }

      @media (max-width: @screen-md) {
        padding-left: 0;
      }

      @media (max-width: @screen-xs-max) {
        &.active {
          display: block!important;
        }

        display: none!important;
        left: 0;
        position: absolute;
        width: 100%;
        padding: 0 10px;

      }

      .ui-front {
        padding: (@grid-gutter-width/2) 0px;
      }

      .glyphicon-search {
        color: @searchbar-icon-color;
        font-size: 17px;
      }

      .input-group {
        background-color: @input-background;
        min-height: 38px;
        border: 1px solid @input-border-color;

        @media (min-width: @screen-md) {
          width: 445px;
        }

        .form-control {
          border:0;
          box-shadow:none;
          height: 38px;
          background-color: transparent;
        }

        .btn {
          width: 40px;
          padding: 0;

          &:hover {
            background-color: transparent;
          }
        }
      }

      ul.ui-autocomplete {
        display:none;
        position:absolute;
        background: @autocomplete-background;
        left:0;
        right:0;
        -webkit-box-shadow: 0 8px 15px rgba(0,0,0,0.5);
        box-shadow: 0 8px 15px rgba(0,0,0,0.5);
        z-index:100;
        width:auto!important;
        padding-left:0;
        padding-top: 0;
        list-style:none;
        margin:0;

        li {
          border-top:1px solid @border-color-2;
          display:block;
          width:100%;
          padding: 10px;

          a {
            display:table;
            width:100%;
            color:inherit;
            text-decoration:none;
          }

          .thumb {
            display:table-cell;
            vertical-align:middle;
            padding:0 10px 0 0;
          }

          .name {
            display:table-cell;
            padding:10px;
            vertical-align:middle;
            width: @full-width;
          }

          .thumb + .name {
            padding:0 10px;
          }

          .price {
            display:table-cell;
            vertical-align:middle;
            padding:0 10px;
          }
        }

        li.ui-state-focus {
          border-left: none;
          border-right: none;
          border-bottom: none;
          margin: 0;
          background: @table-2n-line-bg;
          color: @text-color;
        }
      }

      ul.ui-autocomplete.active {
        display:block;
      }
    }
  }

  .nav__right {
    padding-right: 25px;

    @media (max-width: @screen-md) {
      padding-right: 20px;
    }

    ul.nav__links--shop_info {
      margin-bottom: 0;

      @media (max-width: @screen-md) {
        padding-left: 10px;
      }

      @media (min-width: @screen-sm) {
        float: right;
      }

      @media (max-width: @screen-xs-max) {
        border-left: 1px solid @nav-border-color;
        display: table-cell;
        text-align: center;
        vertical-align: top;
        padding: 0;

        li {
          float: none;
        }
      }

      .componentContainer .yCmsComponent {
        @media (min-width: @screen-sm) {
          display: inline;
        }
      }

      .nav-location {
        min-width: 60px;
        border-left: 1px solid @nav-border-color;
        border-right: 1px solid @nav-border-color;

        span {
          font-size: 30px;
          top: 27%;
          color: @nav-icon-color;
        }

        @media (min-width: @screen-sm) {
          float: right;
          padding: 0px 10px;
        }

        @media (min-width: @screen-md) {
          padding: 0px 30px;
        }
      }
    }
  }

  .componentContainer {
    @media (max-width: @screen-xs-max) {
      text-align: center;
      vertical-align: top;
      border-left: 1px solid @nav-border-color;

    }
  }

  .nav-order-tools,
  .nav-location,
  .nav-cart {
    height: @navigation--middle-height;
  }

  .nav-order-tools,
  .nav-location,
  .nav-cart,
  .btn {
    &:hover, &:active, &:focus {
      background-color: @nav-icon-hover-background;
      box-shadow: none;
    }
  }

  .nav-cart {
    float: right;
    padding: 0 10px;

    @media (min-width: @screen-sm) {
      padding-left: 30px;
    }

    @media (max-width: @screen-xs-max) {
      position: relative;
      float: none;
      padding: 0;
    }

    .mini-cart-price {

      @media (min-width: @screen-sm) {
        overflow: hidden;
        margin-left: 5px;
        margin-right: 5px;
        float: right;
        font-size: 16px;
        font-weight: 600;
        position: relative;
        top: 4px;
      }

    }

    .mini-cart-link {
      color: @nav-icon-color;

      @media (min-width:@screen-sm) {
        line-height: 55px;
        white-space: nowrap;
      }

      @media (max-width: @screen-xs-max) {
        display: block;

        .mini-cart-icon {
          color: @nav-icon-color;
          left: -7px;
          top: 10px;

          .glyphicon-shopping-cart {
            width: @mobile-nav-icon-font-size;
            font-size: 22px;
            position: relative;
            right: -6px;
            top: 3px;
          }
        }
        .mini-cart-count {
          font-size: 12px;
          position: absolute;
          right: 44%;
          top: -13px;
          margin: 0;
        }
        .nav-items-total {
          display: inline-block;
          background-color: @nav-icon-color-secondary;
          border-radius: 50%;
          height: 25px;
          width: 25px;
          color: @btn-primary-color;
          line-height: 25px;
        }
      }
    }

    .mini-cart-count {

      @media (min-width:@screen-sm) {
        &:before {
          content: "(";
          position: relative;
          top: 4px;
        }

        &:after {
          content: ")";
          position: relative;
          top: 4px;
        }
      }

      float: right;
      font-size: 12px;
      text-transform: uppercase;

      .nav-items-total {
        position: relative;
        right: 0px;
        top: 5px;
      }
    }

    .mini-cart-icon {
      @media (min-width:@screen-sm) {
        float: right;
        position: relative;
        top: 5px;
      }

      .glyphicon-shopping-cart {
        font-size: 22px;

        @media (min-width:@screen-sm) and (max-width: @screen-sm-max) {
          margin-left: 5px;
        }
      }
    }
  }

  .mobile__nav__row{

    @media (max-width: @screen-sm-max) {
      &.mobile__nav__row--table,
      .mobile__nav__row--table{
        display: table !important;
        width: 100%;
      }

      .mobile__nav__row--table-group {
        display: table-row-group !important;
      }

      .mobile__nav__row--table-row {
        display: table-row !important;

        &:before{
          display: table;
          content: " ";
        }
      }

      .mobile__nav__row--table-cell{
        display: table-cell !important;
        vertical-align: top;
      }


      .nav__links--shop_info .componentContainer{
        margin-bottom: 0;
        overflow: hidden;
      }

      span.glyphicon-align-justify {
        position: relative;
        cursor: pointer;
        margin: 0 auto;
        color: @nav-icon-color;
        font-size: 29px;
        top: 2px;
      }

      .componentContainer .nav-order-tools,
      .componentContainer .nav-cart{
        font-size: 30px;
        line-height: @navigation--middle-height;
        padding: 0;
        width: 100%;

      }

      .componentContainer .mobile__nav__row--table-cell {
        border-right: 1px solid @nav-border-color;

        &:last-child {
          border-right: none;
        }
      }
    }

    .mobile__nav__row--seperator {
      @media (max-width: @screen-xs-max) {
        border-left: 1px solid @nav-border-color;

      }

    }
  }

  .mobile__nav__row--btn {
    @media (max-width: @screen-sm-max) {
      padding: 0;
      vertical-align: top;
      height: @navigation--middle-height;
      font-size: 30px;
      line-height: @navigation--middle-height;

      .nav-order-tools,
      .mini-cart-link,
      .mobile__nav__row--btn-search
      {
        font-size: @mobile-nav-icon-font-size;
        line-height: @mobile-nav-icon-font-size*2;
        padding: 0;
        width: 100%;

        &:hover,
        &:focus,
        &:active {
          background-color: @nav-icon-hover-background;
          color: @btn-primary-bg;
          text-decoration: none;
        }
      }

      span.glyphicon {
        color: @nav-icon-color;
      }
    }
  }

  .mobile-menu {
    height: @navigation--middle-height;

    button {
      font-size: 18px;
      line-height: 1.33;
      border-radius: 0;
      height: 100%;
      width: 100%;
      padding: 0px;
    }

    span {
      position: relative;
      cursor: pointer;
      margin: 0 auto;
      color: @nav-icon-color;
      font-size: 29px;
      top: 2px;
    }
  }
}

.navigation--bottom {
  background-color: #1a6c39;
  border-bottom: 1px solid #1a6c39;

  @media (max-width: @screen-sm-max){
    border-bottom: none;
  }

  .sm-back {
    @media (max-width: @screen-sm-max){
      &::before {
        content: "\e079";
        float: none;
      }
    }
  }

  .navigation__overflow {
    @media (max-width: @screen-sm-max) {
      left: -380px;
      top: 0;
      height: 100vh;
      overflow-y: auto;

    }
  }

  &.js-enquire-offcanvas-navigation .close-nav {
    @media (max-width: @screen-sm-max) {
      display: inline-block;
      cursor: pointer;
      height: 43px;
      width: 20%;
      vertical-align: top;
      margin-top: -2px;
      margin-left: 100px;
    }

    button {
      @media (max-width: @screen-sm-max) {
        background-color: #f3f3f3;
        height: 100%;
        width: 100%;
        display: inline-block;
        color: transparent;
        overflow: hidden;
        border: none;
      }

      span {
        color: @offcanvas-nav-header-color;
        font-size: 25px;
      }
    }
  }

  &:before,
  &:after {
    content: " ";
    display: table;
  }

  &:after {
    clear: both;
  }

  a {

    @media (min-width: @screen-lg-min) {
      padding: 20px 32px;
    }
  }

  .column-20-percent{
    float:left;
    width:100%;
    @media(min-width:@screen-md-min){width:30%;
      li{
        float:none !important;
      }

    }
  }

  @media (max-width: @screen-sm-max) {
    width: 380px;
    position: absolute;
    left: -380px;
    z-index: 999;
    background-color: @offcanvas-nav-cat-background;

    li {
      float: none;
    }
  }

  @media (max-width: @screen-xs-max) {
    width: 100%;
    height: 100vh;
    left: -100%;
    margin-left: 0;
  }

  .nav__links--products {
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 0;

    @media(min-width:@screen-md-min){
      text-align: left;
      position: relative;
    }


    @media (max-width: @screen-sm-max) {
      &.active {
        position: relative;
        left: -100%;
      }
    }

    @media (max-width: @screen-sm-max) {
      top: 0;
      bottom: 0;
      right: 0;
      background-color: @offcanvas-nav-cat-background;
      padding:0;
      position: relative;
      left: 0;
    }

    li {

      position: relative;
      float: none;

      @media (max-width: @screen-sm-max) {

        background-color: @offcanvas-meta-nav-color;
        border-bottom: 1px solid @border-color-2;
      }

      &.liUserSign {

        @media (max-width: @screen-sm-max) {
          border-bottom: 1px solid @offcanvas-meta-nav-border-color;

          &:hover {
            background-color: @meta-nav-hover-background;
          }
        }

        a.userSign {
          @media (max-width: @screen-sm-max) {
            width: 80%;
            display: inline-block;
            text-transform: uppercase;
            padding-right: @grid-gutter-width;
          }
        }
      }

      &:last-child {
        margin-right: 0;

        @media (max-width: @screen-sm-max) {

        }

      }

      a {
        text-transform: uppercase;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        padding:15px;
        display: block;
        color:  #fff;


        @media (max-width: @screen-sm-max) {
          margin-top: 0;
          color: #595A58;
          text-transform: capitalize;
          padding: 20px 20px;
          display: block;
          font-size: 14px;
        }

      }
    }

    .nav__links--secondary {

      display: none;
      background: @nav-subcat-background;
      position: absolute;
      z-index: 1000;
      left: 0;
      border: 1px solid @nav-border-color;
      border-top: 0;
      padding: 0 10px;
      -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);

      .sm-back {
        display: none;
      }


      .row {
        position: relative;
      }

      .sub-navigation-section {
        position: static;
        padding: 10px;
      }

      .sub-navigation-section.double {
        position: relative;
        min-height: 1px;
        padding: 10px 0 10px 0;
      }

      .sub-navigation-section .sub-navigation-section-column {
        float: left;
        padding: 0 10px;
      }

      .sub-navigation-section .sub-navigation-list {
        padding-left: 0;
        list-style: none;

        li {
          border-bottom: 1px solid @nav-subcat-border-color;

          &:last-child {
            border-bottom:none;
          }

          a {
            display: block;
            color: @nav-subcat-color;
            line-height: 30px;
            padding-left: 5px;

            &:hover,
            &:focus {
              background-color: @nav-subcat-hover-background;
              text-decoration: none;
            }
          }
        }
      }

      .sub-navigation-list.has-title {
        margin-top:40px;
      }

      .title + .sub-navigation-list.has-title {
        margin-top:0;
      }

    }
  }

  .show-sub{
    .nav__link a {
      position: relative;

      &:after {
        position: absolute;
        content: "";
        width: 0;
        height: 0;
        border-right: 10px solid rgba(0, 0, 0, 0);
        border-left: 10px solid rgba(0, 0, 0, 0);
        border-bottom: 10px solid @nav-subcat-background;
        display: block;
        bottom: 0;
        left: 50%;
        margin: 0 0 0 -10px;
        z-index: 1001;
      }
    }

    .sub__navigation{
      display: block !important;
      top:@navigation--middle-height;
    }
  }

  .nav__link {
    display: inline-block;
    width: 100%;
  }


  .nav__links--primary-has__sub {

    @media (max-width: @screen-sm-max){
      position: static;
    }

    .nav__link {
      @media (max-width: @screen-sm-max) {
        width: 67%;
      }
    }

    .nav__link--drill__down {
      display: inline-block;
      width: 27%;
      color: @offcanvas-nav-cat-color;
      min-height: 30px;
      padding: 20px 0;
      text-align:right;
    }
  }

  .nav__links--primary {

    &.active {
      @media (max-width: @screen-sm-max) {
        .sub__navigation{
          display: block;
        }
      }
    }

    .sub__navigation {

      @media (min-width: @screen-md-min) {
        display: none;
        background: @nav-subcat-background;
        position: absolute;
        z-index: 1000;
        left: 0;
        border: 1px solid @nav-border-color;
        border-top: 0;
        padding: 0 10px;
        -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
      }

      @media (max-width: @screen-sm-max) {
        display: none;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 100%;
        width: 100%;
        padding: 0;
      }
    }

    .sm-back {
      @media (max-width: @screen-sm-max) {
        color: @offcanvas-nav-cat-color;
        padding: 5px 15px;
        border-bottom: 1px solid @offcanvas-nav-cat-border-color;
        font-size: 18px;
        line-height: 50px;

        &::after {
          content: ' ';
        }

        &::before {
          position: relative;
          top: 1px;
          display: inline-block;
          font-family: 'Glyphicons Halflings', sans-serif;
          font-style: normal;
          font-weight: 400;
          line-height: 1;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          font-size: .8em;
          margin-right: 1em;
        }
      }

    }

    .row {
      @media (max-width: @screen-sm-max) {
        margin: 0;
      }
    }

    .sub-navigation-section {
      @media (max-width: @screen-sm-max) {
        padding: 0;
        background: @offcanvas-nav-cat-background;
      }

      @media (min-width: @screen-md-min) {
        position: static;
        padding: 10px;
      }

      .title {
        font-size: 18px;
        line-height: 40px;
        text-transform: uppercase;
        color: @nav-subcat-title-color;

        @media (max-width: @screen-md-max) {
          color: @offcanvas-nav-cat-title-color;
        }

        @media (max-width: @screen-sm-max) {
          padding: 10px 20px 10px 50px;
          text-transform: uppercase;
          border-bottom: 1px solid @offcanvas-nav-cat-border-color;
        }
      }

      .sub-navigation-list {
        @media (max-width: @screen-sm-max) {
          margin-bottom: 0;
          padding-left: 0;
          list-style: none;
        }

        @media (min-width: @screen-md-min) {
          padding-left: 0px;
          list-style: none;
          margin-top: 0;

          a {
            display: block;
            color: @nav-subcat-color;
            line-height: 30px;
            padding:0 0 0 5px;

            &:hover {
              background-color: @offcanvas-nav-cat-hover-background;
              text-decoration: none;
            }
          }
        }

        li {

          position: relative;
          display: block;
          border-bottom: 1px solid @offcanvas-nav-cat-border-color;
          float: none;

          @media (min-width: @screen-md-min) {
            &:last-child {
              border: none;
            }
          }
        }
      }
    }
  }

  .nav__links--mobile {

    &.offcanvasGroup1 {
      .offcanvasGroup2,
      .offcanvasGroup3 {

        li {
          border-bottom: 1px solid #e5e5e5;
        }
      }
    }

    @media (max-width: @screen-sm-max) {
      overflow: hidden;

      li {

        background-color: #fff;
        border: none;

        a {
          color: #595a58;
        }
      }

      .subNavList {
        padding-left: 0;

        li {
          padding: 5px 0;
          background: #fff;
        }
      }
    }

    div.sub-nav {

      .myAccountLinksHeader,
      .myCompanyLinksHeader {
        @media (max-width: @screen-sm-max) {
          display: block;
          cursor: pointer;
          max-height: @navigation--middle-height;
          text-transform: uppercase;
        }
      }

      a {
        @media (max-width: @screen-sm-max) {
          border-bottom: 1px solid #e5e5e5;
        }

        span {
          @media (max-width: @screen-sm-max) {
            float: right;
            line-height: 50px;
            left: 0;
            position: relative;
            height: 30px;
            top: -14px;
          }
        }
      }
    }
  }

  .userGroup {

    @media (max-width: @screen-sm-max) {
      position: relative;
      line-height: 23px;
      background-color: #f3f3f3;
      padding: 5px 12px 5px 20px;
      cursor: pointer;
      color: #595A58;
      display: inline-block;
      width: 80%;
      float: left;
      height: 40px;
      text-transform: uppercase;
      text-align: left;
      font-size: 14px;
    }

    a {
      @media (max-width: @screen-sm-max) {
        border: none;
        color: @offcanvas-nav-header-color;

        &:hover {
          background-color: transparent !important;
        }
      }
    }

    .myAcctUserIcon {
      @media (max-width: @screen-sm-max) {
        font-size: 20px;
        position: relative;
        top: 4px;
      }
    }


    .userName {
      @media (max-width: @screen-sm-max) {
        display: inline-block;
        padding-left: 0px;
      }
    }

    #signedInUserOptionsToggle {
      @media (max-width: @screen-sm-max) {
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        width: 100%;
        padding: 0;
      }
    }
  }

  .glyphicon-chevron-up,
  .glyphicon-chevron-down {
    @media (max-width: @screen-sm-max) {
      position: absolute;
      left: 260px;
      line-height: @navigation--middle-height;
      top: 0;
    }

    @media (max-width: @screen-xs-max) {
      left: 68vw;
    }
  }
}

main {

  @media (min-width: @screen-sm-min) {

    .transition(transform 0.3s ease-out);

  }
}

main.offcanvas {
  @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {

    position: relative;
    -webkit-transform: translate(380px,0);
    -ms-transform: translate(380px,0);
    -o-transform: translate(380px,0);
    transform: translate(380px,0);
  }

  @media (max-width: @screen-xs-max){
    position: relative;
    -webkit-transform: translate(100%, 0);
    -ms-transform: translate(100%, 0);
    -o-transform: translate(100%, 0);
    transform: translate(100%, 0);
  }
}


.offcanvas .sticky-nav-top {
  @media (max-width: @screen-xs-max) {
    left:0px;
    position: relative;
    height: 43px;
    width: 100vw;
  }
}

.sticky-nav-top {

  @media (max-width: @screen-sm-max) {
    left: 0px;
    top: 0px;
    width: 380px;
    padding: 0px;
    margin-bottom: 0;
    z-index: 9999;
    text-align: right;
    background: #fff;


    .auto{
      box-shadow: 0px 0.5px 0px #0000004D;
      height: 43px;
      background: #F3F3F3;
      display: flex;
      align-items: center;

    }
  }

  @media (max-width: @screen-xs-max) {

    top: 0px;
    height: 43px;
    left: -60px;
    z-index: 999;
    width: 100vw;
  }

  .liUserSign {
    background-color: #f3f3f3;
    i{color:#128a9e;
      font-size: 16px;
      padding-right: 5px;
    }
  }

  .userSign {
    @media (max-width: @screen-sm-max) {
      text-align: left;
      width: 80%;
      background-color: #f3f3f3;
      display: flex;
      align-items: center;
      color: #000;
      padding-left: 20px;
      font-weight:300px;

    }
  }
}

@media (max-width: @screen-sm-max) {

  html.offcanvas {
    overflow-x: hidden;
  }
}


//////////////////////////////////////
//         nav-order-tools          //
//////////////////////////////////////
.nav-order-tools {
  position: relative;
  display: inline-block;
  cursor: pointer;

  @media (min-width: @screen-sm-min) {
    border-left: 0px;
    border-right: 1px solid @nav-border-color;
    padding: 0px 15px;
  }
  @media (min-width: @screen-md-min) {
    padding: 0px 30px;
  }
  @media (max-width: @screen-xs-max) {
    position: static;
  }

  &:before {
    position: relative;
    top: 23%;
    display: inline;
    font-family: 'Glyphicons Halflings', sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\e032";
    color: @nav-icon-color;
    font-size: 30px;

    @media (max-width: @screen-xs-max) {
      top: 3px;
    }
  }
}

.quote__list {
  position: relative;
  display: inline-block;
  cursor: pointer;

  width: (@btn-icon-font-size + @grid-gutter-width);
  text-align: right;

  a {
    font-size: @btn-icon-font-size;
    background-color: transparent;
    padding: 0;
    border: 0;
    color: @btn-primary-bg;

    .glyphicon {
      top: 4px;
    }
  }

  @media (min-width: @screen-sm-min) {
    border-left: 0px;
    padding: 0px (@grid-gutter-width - 5);
  }
  @media (min-width: @screen-md-min) {
    padding: 0px (@grid-gutter-width + 10);
  }
  @media (max-width: @screen-xs-max) {
    position: static;
  }

}

.js-nav-order-tools--active {
  .nav-order-tools__child-wrap {
    display: block;
  }
}

.js-nav-quote-list--active {
  .quote__list--nav {
    display: block;
  }
}

.quote__list--nav {
  text-align: left;
  position: absolute;
  border: 1px solid @nav-border-color;
  background-color: @nav-icon-dropdown-background;
  right: 40px;
  top: 26px;
  width: 260px;
  z-index: 10;

  a {
    font-size: @font-size-base;
    line-height: @line-height-base;

  }

  @media (max-width: @screen-xs-max) {
    width: 100vw;
    top: 103px;
  }

  a {
    display: block;
    text-transform: uppercase;
    font-weight: 600;
    color: @text-color;
    padding: @grid-gutter-width @grid-gutter-width*1.5;

    &:hover {
      background-color: @nav-icon-hover-background;;
    }
  }
}

.nav-order-tools__child-wrap {
  font-size: @font-size-base;
  line-height: @line-height-base;
  text-align: left;
  position: absolute;
  border: 1px solid @nav-border-color;
  background-color: @nav-icon-dropdown-background;
  right: -1px;
  top: @navigation--middle-height;
  width: 260px;
  z-index: 10;

  @media (max-width: @screen-xs-max) {
    width: 100vw;
    top: 103px;
  }

  div {
    border-bottom: 1px solid @nav-icon-hover-background;

    &:last-child {
      border-bottom:none;
    }
  }

  a {
    display: block;
    text-transform: uppercase;
    font-weight: 600;
    color: @text-color;
    padding: @grid-gutter-width @grid-gutter-width*1.5;

    &:hover {
      background-color: @nav-icon-hover-background;;
    }
  }
}

.search-results-highlight {
  font-weight: bold;
  font-style: unset !important;
}





.accNavComponent__child-wrap{
  li:last-child a{
    color: #EE3524 !important;
  }

}


.myAccountMenu{

  font-size: 20px;
  color: #595A58;
  margin-bottom: 11px;
  padding-left: 11px;
  margin-top: 15px;
  display: block;
  text-transform: uppercase;
}


.navigation.navigation--bottom.js_navigation--bottom{
  @media(max-width:@screen-sm-max){
    overflow-y: unset;

    top:0px;}
}



.userGroup{

}

.nav__links--products.nav__links--mobile{

  display:block;
}





.LangMobileMenu{

  position: absolute;
  bottom: 0px;
  height: 50px;
  width: 100%;
  background: #eee;
  z-index: 50;
  align-items: center;
  display: flex;
  padding-left: 20px;
  @media(max-width:@screen-sm-max){width: 380px;}
  @media(max-width:@screen-xs-max){width: 100%;}


  .titleLangMobile {
    color:#000;
    font-size:14px;
  }
  .firstCheckout{margin-left:42px !important;
    margin-right:0px !important;}

  .container {
    display: inline-block;
    position: relative;
    padding-left: 22px;
    margin-bottom: 0px;
    cursor: pointer;
    font-size: 13px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: auto;
    color:#000;
    font-weight:600;
    text-transform: capitalize;

    .firstCheckout{
      margin-left:42px !important;
    }
  }

  /* Hide the browser's default radio button */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }

  /* Create a custom radio button */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 16px;
    width: 16px;
    background-color: #eee;
    border-radius: 50%;
    border: 1px solid #000;
    color: #3996d2;
    margin-top: 2px;
  }

  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #eee;
  }

  /* When the radio button is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #eee;
  }

  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  /* Show the indicator (dot/circle) when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }

  /* Style the indicator (dot/circle) */
  .container .checkmark:after {
    top: 3px;
    left: 3px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #3996d2;
  }

}


.navigation--bottom .nav__links--products li{

  @media(min-width:@screen-md-min){
    position: unset !important;
    display:inline-block;
  }
}

.checkout-shipping-items{

  padding: 0 10px;
  margin: 0;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
.checkout-shipping{
  .checkout-indent{    padding-top: 0 !important;
    border-top: 0 !important;

    .headline{
      padding-top:0 !important;
    }
  }

}
