//
// Breadcrumbs
// --------------------------------------------------


.breadcrumb-section{
	   background: #fff;
    padding-right: 20px;
    border-radius: 0;
    padding-left: 20px;
    @media(max-width:@screen-sm-max){
    padding-left: 5px; padding-right: 5px;
    }

	.breadcrumb{
	    background: #fff;
    border-radius: 0;
		    font-size: 12px;
    font-weight: 500;
    text-transform: capitalize;
    margin: 0;
    padding-left: 10px;
    margin-bottom:15px;
    li{
    display:inline-block;
    a{
    color:#2496D2;
    }
    
    
    }
    
   
	}
	 .breadcrumb > li + li:before{
	 content: "\00BB";
    padding: 0 2px;
    color: #595A58;
    font-size: 14px;}
    .breadcrumb > .active {
    color: #595A58;
}
}
