/**
 * jQuery toast plugin created by Kamran Ahmed copyright MIT license 2014
 */
.jq-toast-wrap {

    display: block;
    position: fixed;
    width: 330px;
    pointer-events: none !important;
    margin: 0;
    padding: 0;
    letter-spacing: normal;
    z-index: 99999999 !important;
    max-width:100% ;

    @media(max-width:@screen-xs-max){
        padding: 0 10px;
    }

}


.jq-toast-wrap.top-right { top: 60px; right: 10px;
    @media(max-width:@screen-sm-max){
        top:0;
        right: 0px;
    }


    @media(max-width:@screen-xs-max){
        top:0;
        right: 0px;
    }
}

.jq-toast-single {     display: block;
    width: 100%;
    padding: 10px;
    margin: 0px 0px 5px;
    border-radius: 4px;
    font-size: 12px;
    font-family: arial, sans-serif;
    line-height: 17px;
    position: relative;
    pointer-events: all !important;
    background-color: #fff;
    color: #000;
    box-shadow: 0px 7px 14px #00000038;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    max-width: 100%;
    min-height: 155px;}

.jq-toast-single h2 {

    font-size: 18px;
    margin: 0px 0px 7px;
    background: none;
    color: #595A58;
    line-height: inherit;
    letter-spacing: normal;
    text-align: center;
    text-transform: uppercase;
    margin-top: 15px;


}
.jq-toast-single a { color: #eee; text-decoration: none; font-weight: bold; border-bottom: 1px solid white; padding-bottom: 3px; font-size: 12px; }

.jq-toast-single ul { margin: 0px 0px 0px 15px; background: none; padding:0px; }
.jq-toast-single ul li { list-style-type: disc !important; line-height: 17px; background: none; margin: 0; padding: 0; letter-spacing: normal; }

.close-jq-toast-single { position: absolute; top: 3px; right: 7px; font-size: 14px; cursor: pointer; }

.jq-toast-loader { display: block; position: absolute; top: -2px; height: 5px; width: 0%; left: 0; border-radius: 5px; background: red; }
.jq-toast-loaded { width: 100%; }



.jq-toast-single{


    .cart_popup_error_msg{

        text-align: center;
        font-size: 14px;
        color: #8A8A8A;
        text-transform: capitalize;
        margin-top: -27px;
        padding-top: 8px;


        .Errormsg{

            color:#e32220;
            margin-top: 10px;
            display: inline-block;
        }

        .infomsg{
            color:#f9cc4a;
            margin-top: 10px;
            display: inline-block;

        }

    }








    .add-to-cart-item{

        display: flex;
        align-items: center;
        justify-content: flex-start;



    }
    .add-to-cart .add-to-cart-item .details{margin-left:0px;
        .name{

            font-weight: 500 !important;
            color: #000000 !important;
            font-size: 15px !important;
            border:none !important;
            width: 90%;
            display: inline-block;
        }
    }
    .add-to-cart-button,.js-mini-cart-close-button,.qty,.price{
        display:none;}
    img{
        max-width:95px;}
    .close-jq-toast-single{
        i{

            margin-right: 4px;
            font-size: 17px;
            color: #1a6b39;
            margin-top: 4px;
        }

    }

}




.language-ar{

    .add-to-cart .add-to-cart-item .details{margin-left:0px;
        .name{

            width: 100%;

            padding-right:15px
        }
    }

}









