
.topsection {
  margin-bottom: 0
}


.js-site-logo {

  @media (min-width: @screen-md-min) {
    text-align: left;
    a {
      display: inline-block;
      text-align: left;
    }
  }


}

.selectors_pdp {
  text-align: left;

  .item_banner.mz-thumb {
    display: inline-block !important;
  }

  img {
    max-width: 100px !important
  }
}


.nav-location a {
  display: flex;
  align-items: center;
  justify-content: center;
}


.topsection {
  padding: 0px;

  .deliveryhead {
    background-color: #fff;
    padding: 8px 30px;
    border-bottom: 1px solid #e2e2e2;
    @media (max-width: @screen-sm-max) {
      padding: 8px 15px;
    }

    a {
      color: #726962;
      text-decoration: none;
    }

    .title_part_location {
      color: #726962;
      text-transform: capitalize;
      padding-right: 3px;

      i {
        color: #726962;
        font-size: 17px;
        padding-right: 5px;
      }

    }
  }

  .right_side {
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: @screen-xs-max) {
      text-align: left;
    }

    .title_part_drive {
      color: #726962;
      text-transform: capitalize;
      padding-right: 3px;

      i {
        color: #726962;
        font-size: 15px;
        padding-right: 5px;
      }


    }


  }


}

.desktop_header_nav {

  display: flex;
  align-items: center;
  justify-content: center;

  .js-site-logo {

    a {
      text-align: center;
      padding: 10px 0;
    }

  }

  .site-search {

    max-width: 326px;

    .input-group {
      display: block;
      height: 30px;


      #js-site-search-input {
        height: 30px;
        border: 1px solid #e8e8e8;
        border-radius: 8px !important;
      }

      .input-group-btn {
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
        z-index: 5;

        .btn {
          padding: 0px !important;
        }
      }


    }
  }


}

.navigation--bottom {
  @media (min-width: @screen-md-min) {

    border: none !important;
  }
}


.navigation--middle {
  border: none !important;
}

.carousel {
  margin: 0px !important;

  .item {
    margin: 0px !important;
    padding: 0px !important;

  }
}


header {
  background: #fff !important;

}


#lang-form {

  .btn-group {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    border: none;
    box-shadow: none !important;
    margin-top: 8px;


    .btn-select {

      padding: 0;
      padding-right: 13px;
      color: #595A58;
      box-shadow: none !important;
    }

    .filter-option {
      font-weight: 500;

      span {
        font-size: 11px;

        i {
          font-weight: 600;
        }
      }
    }
  }
}

header .dropdown-menu.open {
  padding: 0px !important;

  .dropdown-menu.inner {
    padding: 0px;

    li {
      width: 100%;


      a {
        font-size: 13px;
        padding: 10px !important;

        text-align: center;


        &:hover {
          background-color: #f2f2f2 !important;

        }
      }
    }

  }
}


.lang_select {
  display: block !important;

}

.nav__right {
  .nav__links.nav__links--account {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .nav-cart {

    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
    margin-right: 20px;

    .mini-cart-link {
      padding: 0 9px !important;
      padding-right: 0px !important;
      position: relative;

      .mini-cart-price.js-mini-cart-price {
        display: none;
      }

      .js-mini-cart-count {
        position: absolute;
        position: absolute;
        top: -16px;
        font-size: 11px;
        background: #E32220;
        border-radius: 50%;
        width: 17px;
        height: 17px;
        left: 50%;
        transform: translateX(-22%);

        .items-desktop {
          display: none;
        }

        .nav-items-total {

          color: #fff;
          text-align: center;
          width: 100%;
          height: 100%;
          position: absolute;
          top: 55%;
          transform: translate(-53%, -74%);
          left: 50%;
          font-size: 10px;


        }


      }

    }


  }


}

.liOffcanvas {
  margin: 0px 3px;
}


.login_box {
  display: none;
  position: absolute;
  z-index: 99991;
  min-width: 350px;
  top: 43px;
  left: 0;
  background: #fff;
  padding: 10px 30px;
  border: 1px solid #fff;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0), 0 6px 20px 0 rgba(0, 0, 0, 0.11);
  @media (max-width: @screen-sm-max) {
    top: 34px;
    right: 3px;
  }

  .login-page__headline {
    color: #595a58;
    font-size: 22px;
    line-height: 35px;
    font-weight: 500;
    padding: 22px 0 15px;
    margin: 0;
    text-transform: uppercase;
    text-align: center;
  }

  p {
    color: #595a58;
    font-size: 12px;
    margin: 0 0 25px;
    font-weight: 500;
    text-align: center;
  }

  .form-group {
    .control-label {
      display: none
    }

    input {
      display: block;
      width: 100%;
      height: 33px;
      padding: 6px 12px;
      font-size: 14px;
      line-height: 1.42857143;
      color: #000;
      background-color: #f3f3f3;
      background-image: none;
      border: 1px solid #f3f3f3;
      border-radius: 3px;

      &:hover {
        border: 1px solid #c9edf1;
      }

      &::placeholder {
        color: #727272;
        opacity: 1;
      }

    }
  }

  .forgotten-password {
    a {
      color: #1a6c39 !important;


      margin: 0;
      padding: 0 !important;
      font-size: 13px !important;
      text-transform: capitalize !important;
      margin-top: 6px;
    }
  }

  .btn-primary {
    margin-bottom: 20px;
    background-color: #1a6c39 !important;
    border-color: #1a6c39 !important;
    color: #fff !important;
    border-radius: 3px !important;
    font-weight: 600;

    &:hover {
      background-color: #05491f !important;
      border-color: #05491f !important;
    }


  }


}

.sgin_up {
  padding: 25px 30px;
  border-top: 1px solid #c8c8c8;
  display: inline-block;
  text-transform: capitalize;

  a {
    display: inline-block !important;
    font-size: 13px !important;
    padding: 0 !important;
    color: #1a6c39 !important;
    font-weight: 600 !important;
    padding-left: 3px !important;
  }

  .or-style {
    color: #414C50;
    font-size: 13px;
    font-weight: 600;
  }

}


.darkback {
  position: fixed;
  z-index: 9999;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  background: none;
}


#j_username {
  margin-bottom: 30px;
}

.fb-login-button, .abcRioButtonContentWrapper, .abcRioButtonLightBlue {
  display: none
}


.SocialMediaLogin {

  display: flex;
  align-items: center;
  margin-bottom: 15px;

  .orLogWith {
    color: #414C50;
    font-weight: 600;
  }


  .medialogin {
    display: flex;
    align-items: center;
    justify-content: center;

    #google_action {
      background: #DF4B38;
      border-radius: 50%;
      padding: 7px 10px 7px;
      font-size: 18px;
      color: #fff;


    }

    .fbC {
      background: #3E5C9A;
      border-radius: 50%;
      padding: 6px 13px 7px;
      font-size: 18px;
      color: #fff;
      margin: 0 20px;
    }

  }

}

.tab_login_header {
  position: absolute;
  top: 7px;
  left: -2px;
  background: transparent;
  padding: 13px;
  z-index: 1004;
  color: #299c48 !important;
  font-size: 12px;
  width: 48px;
  text-align: center;
  font-size: 20px !important;
  padding-top: 4px;
  border-top-right-radius: 7px;
  border-top-left-radius: 6px;
  box-shadow: none;
  padding-bottom: 5px;
  @media (max-width: @screen-sm-max) {
    top: -2px;
    right: 4px;

  }


}


.MiniCartHeader {
  margin-right: 0px !important;

  .mini-cart-link {
    padding-right: 0px !important;
  }

}


.myAccountLinksHeader {
  @media (min-width: @screen-md-min) {
    padding: 0 !important;
    padding-right: 10px !important;

  }
}

.logged_in.js-logged_in {

  @media (min-width: @screen-md-min) {
    padding: 0 !important;
  }
}

.js-accNavComponent.NAVcompONENT {

  position: absolute;
  z-index: 99992;
  min-width: 220px;
  top: 48px;
  right: 0;
  background: #fff;
  padding: 10px;
  border: 1px solid #fff;
  overflow: hidden;
  display: none;

  /* background: #FFFFFF 0% 0% no-repeat padding-box; */
  text-align: left;
  @media (max-width: @screen-sm-max) {
    top: 33px;
    right: 0px;

  }

  a {
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 400;
    padding: 12px;
    display: block;
    font-size: 20px;
    line-height: 1.329em;
    color: #595A58;
    font-size: 14px !important;
    padding-top: 6px !important;
  }


  nav.accNavComponent__child-wrap {


    div:first-child {
      font-size: 20px;
      color: #595A58;
      margin-bottom: 11px;
      padding-left: 11px;
      margin-top: 15px;
    }

    div:last-child {
      a {
        color: #EE3524 !important;
      }
    }


  }


}


.tab_profile_header {
  position: absolute;
  top: 0;
  left: 1.5px;
  background: transparent;
  padding: 13px;
  z-index: 1004;
  color: #299c48;
  width: 48px;
  text-align: center;
  font-size: 24px;
  padding-top: 4px;
  border-top-right-radius: 7px;
  border-top-left-radius: 6px;
  /* box-shadow: 0px -2px 5px #00000038, 0px 0px 0px #00000038; */
  padding-bottom: 5px;


}


.site-search .ui-menu-item {
  min-height: 40px;

  a {
    display: block;
    float: left;
    border-bottom: 1px solid #ccc !important;
    outline: none;
    width: 100%;

    .thumb {
      float: left;

      img {
        max-width: 60px;
        margin-right: 13px;
      }
    }

    .name {
      margin-top: 7px;
    }
  }

  .price {
    font-size: 13px;
  }
}

.site-search {
  .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {

    background: #fff;
    font-weight: normal;
    color: #090909;
  }
}


.js-owl-default .carousel__item {
  border: 1px solid #d9d9d9;
  position: relative;
  border-radius: 0px;
}

.owl-stage {
  padding-left: 0 !important;
}


.owl-carousel .owl-item {

  position: relative;

  .carousel__item--countryoforigin {

    text-align: left;
    font-size: 12px;
    color: #E32220;
    min-height: 21px;
  }

  .carousel__item--label {

    position: absolute;
    top: 0;
    left: 0;
    height: 23px;
    width: 50px;
    margin-top: 14px;
    margin-left: 0px;
    font-size: 12px;
    color: #fff;
    background-color: #801c2c;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;

  }

  .wishlist_icon {
    position: absolute;
    right: 0;
    margin-top: 11px;
    top: 0;
    margin-right: 0px;
    font-size: 20px;

    .addWishlistEntry {
      color: #dbdbdb;

      i {
        font-weight: 600
      }

    }


    .removeWishlistEntry {
      color: #E32220;

      i {
        font-weight: 600
      }
    }
  }

}


.Pad_cart_de {
  padding: 15px 60px;

  @media (min-width: 1300px) {
    padding: 15px 25px;
  }


}


.qty-selector {
  border-radius: 3px;
  background: #f2f2f3 !important;
  padding: 0;
  font-size: 15px;
  font-weight: 600;
  float: left;
  margin-right: 12px;
  border: 1px solid #dbdbdb;

  .js-qty-selector-minus, .js-qty-selector-plus {
    border: none;
    background: #f2f2f3 !important;
    margin: 0;
    outline: none;
    padding: 6px 6px;

    &:hover {
      background-color: #e1e1e1 !important;
      border-color: #e1e1e1 !important;
      border-radius: 0 !important;
    }

    span {
      color: #a4a5a4 !important;
      font-size: 14px;
      font-weight: 600 !important;
    }
  }


  .js-qty-selector-input {

    text-align: center;
    border: 1px solid #f2f2f3;
    background: #f2f2f3;
    color: #a4a5a4;
    font-weight: 500;
    border-left: none;
    border-right: none;
    outline: none;

  }


}


.add_to_cart_form {
  display: flex;
  align-items: flex-start;
  justify-content: center;

  .btn.btn-primary {
    padding: 0;
    width: 75px;
    border-radius: 15px !important;
    height: 30px;
    display: flex;
    background: #1a6c39;
    border-color: #1a6c39 !important;
    border-radius: 3px !important;

    &:hover {
      background-color: #18620e !important;
      border-color: #18620e !important;
    }

    .btnCartText {
      font-size: 12px;
      padding-left: 7px;
    }

    .iconBtnCart {
      position: relative;
      margin-left: 7px;

      i {
        position: absolute;
        top: -1px;
        font-size: 6px !important;
        left: 4.7px;
      }


    }

  }

}


.FirstbannerSection {
  margin: 30px 0;
  padding: 0 20px;
  @media (max-width: @screen-sm-max) {
    padding: 0 30px ;
  }


  .imgBannarLeftside {
    @media (min-width: @screen-md-max) {
      padding-right: 25px;
    }

    @media (max-width: @screen-sm-max) {
      margin-bottom: 15px;
    }
  }


  .imgBannarRightside {
    @media (min-width: @screen-md-max) {
      padding-left: 25px;
    }
    @media (max-width: @screen-sm-max) {
      margin-bottom: 15px;
    }
  }
}


.bottomImgSliderB {
  margin-top: 4px
}


.headline_categories {
  text-align: center;
  margin: 40px 0 20px 0;
  font-weight: 600;
  font-size: 20px;
  color: #595A58;
  @media (max-width: @screen-sm-max) {
    margin: 20px 0 10px 0;
    font-size: 16px;

  }
}


.js-owl-default-5 {
  background-color: #F3F3F3;

  .owl-item {
    border: none !important;

    .carousel__item {
      margin: 0px;
      padding: 24px 0;
      display: flex;
      align-items: center;
      justify-content: center;

      a {
        outline: none !important;


      }
    }
  }


}


footer {
  .row.margin_top {
    margin-bottom: 30px !important;
    padding-left: 20px;
    padding-right: 20px;

  }

  .title {
    color: #444444;
    font-weight: 700;
    font-size: 14px;
    text-transform: capitalize;
    margin-bottom: 14px;

    @media (max-width: 1200px) {
      font-size: 11px;
    }
    @media (max-width: @screen-sm-max) {
      font-size: 14px;
    }

  }

  .FooterAppStoreLinks {
    margin-top: 9px;
    color: #444444;
    font-weight: 700;
    font-size: 14px;
    text-transform: capitalize;
    margin-bottom: 14px;
    text-align: center;

    @media (max-width: @screen-sm-max) {
      text-align: left;
      margin: 0;
      margin-top: 0;

    }

  }


  .footer__nav--container {


  }


  .logo {

    a {

      @media (max-width: @screen-sm-max) {
        text-align: center;
      }

      img {
        max-width: 117px
      }
    }
  }


}


.FormSubscribe {

  display: flex;
  justify-content: center;
  align-items: center;

  .EmailSubscribe {
    width: 80%;
    float: left;
    max-width: 156px;
    border-radius: 3px;
    border: none;
    background: #F3F3F3;
    box-shadow: none;

  }

  .btnSubscribe {
    width: 20%;
    max-width: 34px;
    height: 32px !important;
    border-radius: 3px;
    padding: 0 !important;
  }

}


.SubscribeContainer {

  text-align: center;
  @media (max-width: @screen-sm-max) {
    .footer__nav--links {
      .EmailSubscribe {
        height: 32px !important;
      }
    }

    text-align: left;
    padding: 0 20px;
  }

  .title {
    margin-top: 9px;
    @media (max-width: @screen-sm-max) {
      margin-top: 0px;
      padding: 0 10px;
    }
  }
}

.fullWidth {
  margin-left: 0px !important;
  margin-right: 0px !important;
  padding: 0;
  border-bottom: 1px solid #d8d8d8;

}

.FooterBottom {
  border-top: 1px solid #d8d8d8;
  padding: 20px 0;
  @media (min-width: @screen-md-min) {
    display: flex;
    align-items: center;
    margin: 0px !important;
  }

}

.FooterFollowUsLinks {
  @media (max-width: @screen-sm-max) {
    text-align: center;
  }
  padding-left: 39px;

  .content {
    color: #444444;
    font-weight: 700;
    font-size: 14px;
    text-transform: capitalize;
    margin-bottom: 14px;
  }

}

.CopyrightFooter {
  text-align: center;
  @media (max-width: @screen-sm-max) {
    margin: 20px 0;
  }
}

.FooterPaymentLinks {
  a {
    text-align: center;

    img {
      max-width: 175px;
    }
  }
}


.categories {


  padding-bottom: 10px;

  .box {
    background-color: #DADCDC;
    min-height: 192px;
    border-radius: 6px;

    &:hover {
      background-color: #eaeaea;

    }


    .box_con {
      position: relative;
      background-image: url('../images/catBG.png');
      background-size: 50%;
      background-repeat: no-repeat;
      background-position: right;
      @media (max-width: @screen-xs-max) {
        background-size: 70%;
      }
    }

    .box_links {
      padding-left: 15px;
      padding-top: 34px;
      padding-bottom: 20px;
      text-align: left;


      .titleBox {
        font-size: 14px;
        color: #010101;
        min-height: 39px;
        max-width: 152px;
      }

      a {


        margin-top: 50px;
        display: inline-block;
        color: #fff;
        background: #595A58;
        font-size: 12px;
        border-radius: 3px;
        padding: 6px 18px 7px 11px;

        &:hover {

          background-color: #2e2e2d;
          border-color: #191a19;

        }

      }


    }

    img {
      position: absolute;

      right: 10px;
      bottom: 0;
      width: 63%;
      @media (max-width: 1300px) {
        width: 50%;
      }

      @media (max-width: @screen-sm-max) {
        width: 63%;
      }


    }

  }


}


.form-group .dropdown-toggle {
  text-transform: capitalize;
}

.bootstrap-select > .dropdown-toggle.bs-placeholder {
  color: #727272 !important;
}


.form-group {
  label {
    display: none;
  }

  input {
    border: none;
    box-shadow: none;
    color: #000;
    background: #F3F3F3;
    border-radius: 3px;

    &::placeholder {
      color: #727272;
      opacity: 1;
    }
  }

}


.form-group {


  .dropdown-toggle {
    color: #000 !important;
    background: #f3f2f3 !important;
    font-size: 13px !important;
    padding: 7px 10px 7px 12px !important;
    font-weight: 500 !important;

  }
}


.dropdown-menu .hideinpopup {
  display: none !important;
}


.form-group {
  margin-bottom: 20px
}

.checkboxMartal {

  .titleStatus {
    padding-right: 45px;
    @media (max-width: @screen-xs-max) {
      margin-bottom: 14px;
      display: block;
    }
  }

  .container {
    display: inline-block;
    position: relative;
    padding-left: 21px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: auto;
    color: #7E7E7E;
    font-weight: 500;
    text-transform: capitalize;
  }

  /* Hide the browser's default radio button */

  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }

  /* Create a custom radio button */

  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 16px;
    width: 16px;
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid #707070;
    color: #1a6b39;
    margin-top: 2px;
  }

  /* On mouse-over, add a grey background color */

  .container:hover input ~ .checkmark {
    background-color: #fff;
  }

  /* When the radio button is checked, add a blue background */

  .container input:checked ~ .checkmark {
    background-color: #ffffff;
  }

  /* Create the indicator (the dot/circle - hidden when not checked) */

  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  /* Show the indicator (dot/circle) when checked */

  .container input:checked ~ .checkmark:after {
    display: block;
  }

  /* Style the indicator (dot/circle) */

  .container .checkmark:after {
    top: 3px;
    left: 3px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #1a6c39;
  }


}

.firstCheckout {
  margin-right: 80px;
}


.loginSocialMediaContianer {

  margin-bottom: 15px;

  .TitleloginSocialMedia {
    display: inline-block;
    width: 100%;
    text-align: center;
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 10px;
    color: #414C50;
    padding-right: 5px;
    text-transform: uppercase;

  }

}


ul.medialogin {
  margin: 0;
  padding: 0;
  text-align: center;
  display: flex;
  justify-content: center;

}

ul.medialogin .fb {
  background: #3B5998;
  color: white;
}

ul.medialogin .google {
  background: #dd4b39;
  color: white;
}


ul.medialogin .fb:hover {
  background: #3B5998;
  color: white;
}

ul.medialogin .twitter:hover {
  background: #55ACEE;
  color: white;
}

ul.medialogin .google:hover {
  background: #dd4b39;
  color: white;
}

ul.medialogin li {
  width: 37px;
  height: 37px;
  display: inline-block;
  line-height: 43px;
  margin: 10px;
  font-size: 22px;
  position: relative;
  overflow: hidden;

  border-radius: 50%;
  color: #fff;
  text-align: center;
}

ul.medialogin li .fb {
  background: #3B5998;
  color: white;
}

ul.medialogin li .twitter {
  background: #55ACEE;
  color: white;
}

ul.medialogin li .google {
  background: #dd4b39;
  color: white;
}

ul.medialogin li i {
  color: #fff;
}

ul.medialogin li span,
ul.medialogin li iframe {
  height: 50px !important;
}

ul.medialogin li .fb_iframe_widget {
  display: inline-block !important;
  position: absolute !important;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

ul.medialogin li .fb_iframe_widget span {
  opacity: 0.0000001 !important;
}

ul.medialogin li .facebook_action,
ul.medialogin li a {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}


ul.medialogin .fb {
  background: #3B5998;
  color: white;

  i {
    font-size: 20px;
  }

}

ul.medialogin .google {
  background: #dd4b39;
  color: white;

  #google_action {
    padding: 0;
    padding-top: 6px;
    padding-left: 1px;
  }
}


.title, .firstname, .lastname {
  .form-group.has-error {
    .help-block {
      min-height: 40px;
    }
  }

}

.help-block {
  font-weight: 300;
  color: #c53131;
  font-size: 12px;
}

.help-block.custom {
  margin-bottom: 15px;
}


.el-switch,
.el-switch-style,
.el-switch-style:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.el-switch {
  display: inline-block;
  font-size: 100%;
  height: 1.6em;
  position: relative;

}

.el-switch .el-switch-style {
  height: 1.6em;
  left: 0;
  background: #C0CCDA;
  -webkit-border-radius: 0.8em;
  border-radius: 0.8em;
  display: inline-block;
  position: relative;
  top: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  width: 3em;
  cursor: pointer;
  min-width: 45px;
  zoom: .9;
}

.el-switch .el-switch-style:before {
  display: block;
  content: '';
  height: 1.4em;
  position: absolute;
  width: 1.4em;
  background-color: #fff;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  left: 0.1em;
  top: 0.1em;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.el-switch > input[type="checkbox"] {
  display: none;
}

.el-switch > input[type="checkbox"][disabled] + .el-switch-style {
  cursor: not-allowed;
  background-color: #D3DCE6;
}

.el-switch > input[type="checkbox"]:checked + .el-switch-style {
  background-color: #1a6c39;
}

.el-switch > input[type="checkbox"]:checked + .el-switch-style:before {
  left: 55%;
}

.el-switch > input[type="checkbox"]:checked[disabled] + .el-switch-style {
  background-color: #b0d7f5;
}

.el-switch.el-switch-blue > input[type="checkbox"]:checked + .el-switch-style {
  background-color: #1a6c39;
}

.el-switch.el-switch-blue > input[type="checkbox"]:checked[disabled] + .el-switch-style {
  background-color: #b0d7f5;
}

.el-switch.el-switch-green > input[type="checkbox"]:checked + .el-switch-style {
  background-color: #13ce66;
}

.el-switch.el-switch-green > input[type="checkbox"]:checked[disabled] + .el-switch-style {
  background-color: #a1efc4;
}

.el-switch.el-switch-red > input[type="checkbox"]:checked + .el-switch-style {
  background-color: #ff4949;
}

.el-switch.el-switch-red > input[type="checkbox"]:checked[disabled] + .el-switch-style {
  background-color: #f9b3b3;
}

.el-switch.el-switch-yellow > input[type="checkbox"]:checked + .el-switch-style {
  background-color: #f7ba2a;
}

.el-switch.el-switch-yellow > input[type="checkbox"]:checked[disabled] + .el-switch-style {
  background-color: #fbeac1;
}


.checkboxLabelSection {

  .checkbox label {
    padding-left: 0px !important;
    display: flex !important;
    align-items: center;

    .margin-r {
      padding-left: 15px;
      color: #000;
    }
  }

  .form-group {
    display: block;
    padding-left: 0px;
    margin-bottom: 0;

    label {
      display: block;
    }
  }

}

.FormNational {
  display: none;

  .form-group {
    display: inline-block;
    padding-left: 15px;
    margin-bottom: 0;

    label {
      display: none !important;
    }

  }

  button {
    font-size: 12px;
    padding: 7px 28px;
    background-color: #595A58;
    color: #fff;
    margin-top: -4px;
    border-radius: 3px !important;

  }


}


.termsConditions {


}

.registerBtn {
  margin: 25px 0 !important;
  border-radius: 3px !important;
  font-size: 12px;
  padding: 8px 50px !important;

  &[disabled] {
    background-color: #56bd7c !important;
    border-color: #56bd7c !important;

  }
}

.btnLogin {
  margin: 10px 0 !important;
  border-radius: 3px !important;
  font-size: 12px;
  padding: 8px 50px !important;

  &[disabled] {
    background-color: #56bd7c !important;
    border-color: #56bd7c !important;

  }

}

.termsConditions {
  font-size: 12px;
  color: #8D8D8D;
  text-transform: capitalize;
}

.Orregister {
  color: #66330E;
  font-size: 17px;
  text-align: center;
  font-weight: 600;
  text-transform: uppercase;

}

.register__section {
  .medialogin {
    align-items: center;
    justify-content: center;

    .fb {
      margin-left: 37px;
      line-height: 34px;
    }

    .google {
      margin-right: 29px;
      margin-left: 16px;

      a {
        line-height: 25px;
      }
    }


  }

}


div#password_minchar {
  color: #ababab;
  font-size: 14px;
  font-weight: 500;
  text-transform: capitalize;
}


.FooterAppStoreLinks {

  @media (max-width: @screen-sm-max) {

    .footer__nav--links {
      text-align: center;
    }

    padding: 0 20px;
  }

  img {
    max-width: 100px;
  }

  .title {
    margin-bottom: 15px;
    display: inline-block;
    @media (max-width: @screen-sm-max) {
      width: 100%;
      padding: 0 10px;
    }

  }

  .apple_store {
    padding-right: 20px;

    @media (max-width: @screen-sm-max) {

      margin: 15px 0 ;
      display: inline-block;
    }
  }


}

.spacemobileSize {
  @media (max-width: @screen-sm-max) {
    margin-bottom: 20px;
  }
}


@media (min-width: @screen-md-min) {
  .footer__nav--links {
    display: block !important;
  }
}


@media (max-width: @screen-sm-max) {
  footer {
    .footer__nav--links.activefooter {
      display: block;
    }

    .footer__nav--links {
      display: none;
    }

    .title .far {
      float: right;
      line-height: 20px;
    }
  }
}


.js-owl-default-4 {

  .owl-stage {
    padding-left: 0px !important
  }

  .owl-item {
    border: none;

  }


}

.deliverypopup {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 1040;
  background-color: rgba(0, 0, 0, 0.5);

  .popupBoxdelivery {

    box-sizing: border-box;
    min-width: 0px;
    height: 100vh;
    width: 100%;
    z-index: 999999;
    position: fixed;
    max-height: 100%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    margin: 0px;

    height: 616px;
    width: 400px;

    max-width: 100%;
    max-height: 100%;


    .deliveryContent {
      background-color: rgb(255, 255, 255);
      box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
      border-radius: 2px;
      padding: 24px 0px;
      margin: 0px;
      transform: translate3d(0px, 0px, 0px);
      opacity: 1;

      @media (max-width: @screen-xs-max) {
        margin: 0px 20px;
      }

      .default-view, .select-city {
        box-sizing: border-box;
        min-width: 0px;

        margin: 0px;
        padding: 0px 24px;

        .titleSerachdelivery {
          color: #000;
          font-weight: 600;
          margin: 16px 0px;
          text-align: left;
        }

        .select-default {

          box-sizing: border-box;
          min-width: 0px;
          display: flex;
          width: 100%;
          -webkit-box-pack: justify;
          justify-content: space-between;
          margin: 0px 0px 16px;
          background: rgb(245, 245, 245);
          padding: 12px 16px;

          .btnChange {
            cursor: pointer;
            color: #009c48;
            font-weight: 600;
            font-size: 14px;
            text-transform: capitalize;
          }


          .title-select {
            color: #000;

            .title-select-text {
              padding-right: 5px;
            }

            .title-select-value {
              padding-left: 5px;
            }

          }
        }

      }


      .headerdeliveryBox {
        padding: 10px 24px;

        .titleheaderdelivery {
          font-size: 16px;
        }

        .closepopupdelivery {
          float: right;
          font-size: 16px;
          cursor: pointer;
        }
      }


    }


  }

}

.itemListPlaces {
  margin-top: 16px;
  overflow: auto;
  height: 374px;
  padding-left: 0px !important;

  .itemserach, .itemserachcity {
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    cursor: pointer;
    border-bottom: 1px solid rgb(230, 230, 230);
    padding: 16px 10px;

    &:hover {

      background-color: rgb(230, 230, 230)
    }

    a {
      color: #000
    }

  }


}


.inputSerach {
  box-sizing: border-box;
  min-width: 0px;
  background-color: rgb(245, 245, 245);
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  margin: 0px;
  padding: 10px;


  input {
    padding-left: 5px;
    width: 100%;
    background: transparent;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    box-shadow: none;

    &::placeholder {
      color: #727272;
      opacity: 1;
    }

  }

  i {
    color: #4d4d4d;
    font-size: 24px;
  }
}


.loginDescription {

  font-size: 16px;
  color: #000;
  text-align: center;
  line-height: 32px;

}

.login-left-content-component .login_cont {
  padding: 35px 50px;
  border: 1px solid #D9D9D9;
  border-radius: 10px;
  @media (max-width: @screen-sm-max) {
    padding: 35px 15px;
  }
}


.login-section {
  .loginBtn {
    margin: 25px 0 !important;
    border-radius: 3px !important;
    font-size: 12px;
    padding: 10px 50px;

  }

  .loginSocialMediaContianer {

    .fb {
      line-height: 34px;

    }

    justify-content: center;
    margin-top: 15px;

    .google {
      line-height: 25px;

      #google_action {
        padding-left: 0px !important;
      }


    }


  }


}

.footer__nav--links.FormSubscribe {
  @media (min-width: @screen-md-min) {
    display: flex !important;
    justify-content: center;
  }
}

.guestCheckoutBtn {

  @media (min-width: @screen-md-min) {
    margin-top: 75px;

  }
}

.checkout-login .loginSocialMediaContianer {

  .fb {
    line-height: 34px;

  }

  justify-content: center;
  margin-top: 15px;

  .google {
    line-height: 25px;

    #google_action {
      padding-left: 0px !important;
    }


  }
}


main {

  min-height: 100vh;
  display: flex;
  flex-direction: column;

  .main__inner-wrapper {
    min-height: 200px;
    flex: 1 0 auto;
  }

  footer {
    flex-shrink: 0;
  }
}


.main_zoom {

  text-align: center;

}

.page-details-add-to-cart-component {
  .qty-selector {
    margin-right: 30px !important;
  }

  .addtocart-component {


    display: flex !important;
    align-items: center;
    @media (max-width: @screen-sm-max) {
      display: block !important;
      .qty-selector {

        margin-bottom: 15px;
      }
    }

    .actions {
      display: flex;
      align-items: center !important;

      @media (max-width: 474px) {
        display: inline-block;
        margin-top: 15px;


        .AddToCart-AddToCartAction {

          float: left;

        }

        .AddToCart-PickUpInStoreAction {
          display: inline-block;
          width: 50%;
        }
      }
    }
  }

}


.js-pickup-in-store-button {


  height: 42px !important;
  width: 160px !important;
  align-items: center !important;


  padding: 0;
  display: flex;
  align-items: center !important;
  font-weight: 400;
  border-radius: 3px !important;
  margin-left: 30px;


  @media (max-width: @screen-xs-max) {

    width: 132px !important;

    margin-left: 15px;
  }


  .pickup-in-store {
    margin-left: 5px !important;
    margin-top: -4px;

    img {
      width: 15px !important;
      height: 20px !important;
    }

  }


  .textStorebtn {
    font-size: 12px;
    padding-left: 12px;

    @media (max-width: @screen-xs-max) {
      font-size: 10px;
      padding-left: 8px;
    }


  }


}


.product-main-info .btnpdpAddtocart {
  height: 42px !important;
  width: 160px !important;
  align-items: center !important;
  justify-content: center;
  @media (max-width: @screen-xs-max) {
    width: 132px !important;
  }

  .iconBtnCart {
    margin-left: 0px !important;
    margin-top: 0;

    img {
      width: 19px !important;
      height: 18px !important;
    }

    i {
      font-size: 8px !important;
      left: 7.4px !important;
      font-weight: 800 !important;
    }
  }

  .btnCartText {
    padding-left: 13px !important;
    margin-top: 0px !important;
  }


}

.stock-wrapper {
  font-size: 12px;
  display: inline-block;
  line-height: 34px;
  color: #7A7A7A;
  display: flex;
  align-items: center;
  margin: 10px 0;

  * {

    margin: 0;
  }

  .fa-check-circle {
    color: #0F9900;
    font-size: 16px;
    margin-right: 7px;
    font-weight: 500;
  }

  .fa-times-circle {
    color: red;
    font-size: 16px;
    margin-right: 7px;
    font-weight: 500;
  }


}

.block_padd {
  text-align: left;

  padding: 0;
  margin: 0;


}

.shareTitle {
  font-size: 14px;
  color: #000;
  padding-right: 20px;
}

.shareIcon {
  display: inline-block;

  .st-custom-button {
    display: inline-block;
    padding: 0 10px;
    font-size: 18px;

    i {
      cursor: pointer;
    }
  }


  .fb {
    color: #1976D2;
  }

  .twitter {
    color: #03A9F4;
  }

  .pinterest {
    color: #D32F2F;
  }

  .whatsapp {
    color: rgb(37, 211, 102);
  }

}


.page-productDetails {

  .main__inner-wrapper {
    padding: 0 30px;
    @media (max-width: @screen-sm-max) {
      padding: 0 20px;
    }

  }

}


.app-figure {
  position: relative;

  .addWishlistEntry {
    color: #dbdbdb;
  }

  .removeWishlistEntry {
    color: #e32220;
  }

  .wishlistbtn {
    position: absolute;
    right: 0;
    margin-top: 11px;
    top: 0;
    margin-right: 10px;
    font-size: 27px;
    z-index: 50;
  }


}


@media (max-width: @screen-sm-max) {

  .branding-mobile {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 15px;
    padding-right: 15px;

    .btnMobilenav {
      text-align: left;
      padding: 0;

      .js-toggle-sm-navigation {

        padding: 0;
        background: transparent;
        color: #585958;
        font-size: 18px;
      }
    }

    .js-mobile-logo {
      text-align: left;
      @media (max-width: @screen-sm-max) {
        img {
          max-width: 125px;
        }

      }
      @media (max-width: @screen-xs-max) {
        img {
          max-width: 90px;
        }

      }
    }


    .Cartmobile {
      display: flex;
      align-items: center;
      justify-content: flex-end;

      .minorder {
        font-size: 11px
      }
    }

  }

  .nav-cart {

    text-align: right;

    .fa-shopping-cart {
      font-size: 22px;
      color: #757674;
    }

    .mini-cart-link {
      padding: 0 9px !important;
      padding-right: 0px !important;
      position: relative;

      margin-top: 11px;
      display: inline-block;

      .mini-cart-price.js-mini-cart-price {
        display: none;
      }

      .js-mini-cart-count {
        position: absolute;
        top: -15px;
        font-size: 11px;
        background: #E32220;
        border-radius: 50%;
        width: 17px;
        height: 17px;
        right: 0;
        transform: translateX(-5%);

        .items-desktop {
          display: none;
        }

        .nav-items-total {

          color: #fff;
          text-align: center;
          width: 100%;
          height: 100%;
          position: absolute;
          top: 50%;
          transform: translate(-50%, -50%);
          left: 50%;
          font-size: 10px;


        }


      }

    }


  }

}


.js-owl-default-5 .owl-stage {
  padding-left: 0px !important;

}


.carousel__item {

  .qty-selector {
    @media (max-width: @screen-sm-max) {
      margin-left: 0px !important;
    }

  }

}


.navmobileConetnt {
  height: 40px;
  display: flex;
  align-items: center;
  background: #009C48;
  border: 1px solid #EEEEEE !important;

  .serachNavmobile {
    position: unset;


    .js-toggle-xs-search {
      border: 0;
      background: transparent;
      font-size: 20px;
      color: #fff;
      outline: none !important;
    }
  }

  .wishlistNavmobile {
    .btn_wishlist {
      font-size: 20px;
      color: #fff;
    }
  }

  .callNavmobile {

    text-align: center;

    a {
      color: #fff;
      font-size: 20px;
    }

  }

  .AccountNavmobile {
    text-align: right;

    .registration {

      padding-right: 9px;

      @media (max-width: @screen-sm-max) {
        padding-right: 6px;
      }

      .login_action {
        color: #fff;
        font-size: 20px;
      }
    }

    .login_cont {
      #google_action {
        line-height: 25px;
        padding-left: 0;
      }

      .fb {
        line-height: 34px;
        padding-right: 2px;
      }

      .btn-primary.btn-block {
        font-size: 12px;
        padding: 10px 15px;

      }


    }

  }

}

@media (max-width: @screen-sm-max) {
  .site-search {
    position: absolute;
    bottom: -57px;
    left: 0;
    right: 0;
    z-index: 20;
    display: block;
    padding: 7px 15px 10px;
    background: #299c48;
    margin: 0 1px;

    .input-group {
      display: block;
    }

    #js-site-search-input {
      display: block;
      height: 40px;
      border-radius: 10px;
      background-color: #f8f8f8;
    }

    .input-group-btn {
      position: absolute;
      right: 17px;
      font-size: 0;
      white-space: nowrap;
      top: 8px;
      width: auto;
    }
  }

  .site-search.active {

    display: block;
  }

}


.AccountNavmobile {
  list-style: none;
  padding-right: 20px;


  .AccountMobile_action {
    font-size: 20px;
    color: #fff;
  }

  .tab_profile_header {

    position: absolute;
    top: -4px;
    right: 7px;
    background: #f7f7f7;
    padding: 13px;
    z-index: 1004;
    color: #299c48;
    font-size: 12px;
    width: 48px;
    text-align: center;
    font-size: 20px;
    padding-top: 4px;
    border-top-right-radius: 7px;
    border-top-left-radius: 6px;
    box-shadow: 0px -2px 5px #00000038, 0px 0px 0px #00000038;
    padding-bottom: 5px;
    @media (max-width: @screen-sm-max) {
      top: -4px;
      right: 13px;
    }


  }


  .mobileAccountBox {
    position: absolute;
    z-index: 99992;
    min-width: 220px;
    top: 33px;
    right: 0px;
    background: #fff;
    padding: 10px;
    border: 1px solid #fff;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0), 0 6px 20px 0 rgba(0, 0, 0, 0.11);
    text-align: left;

    .AccountMenuTitle {
      font-size: 20px;
      color: #595A58;
      margin-bottom: 11px;
      padding-left: 11px;
      margin-top: 15px;
      display: block;
      text-transform: uppercase;
    }

    .mobileAccountMenu {
      text-align: left;


      li {

        &:last-child a {
          color: #EE3524 !important;

        }

        a {
          cursor: pointer;
          text-transform: uppercase;
          font-weight: 400;
          padding: 12px;
          display: block;
          font-size: 20px;
          line-height: 1.329em;
          color: #595A58;
          font-size: 14px !important;
          padding-top: 6px !important;


        }
      }
    }

  }

}

.darkbackMobile {
  position: fixed;
  z-index: 9999;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  background: none;
}


.branding-mobile {
  margin: 0 !important;
}


.js_search_button {


}

.checkboxLabelSection {
  .control-label.uncased {
    @media (max-width: @screen-xs-max) {
      display: block !important;

      .FormNational {
        text-align: center;

        input {
          display: inline-block;
          margin: 16px 0;
        }

      }

    }

  }

}

.myAccountList {

  padding-top: 5px !important;
  color: #fff;
  font-size: 20px;

  @media (max-width: @screen-sm-max) {
    margin-right: 2px;
  }
}

.FirstbannerSection.js-owl-default-4 {
  @media (max-width: @screen-xs-max) {
    padding: 0 20px !important;
  }
}

.bannerImgSection {
  @media (max-width: 1300px) {
    padding: 0 20px !important;
  }
}

.js-review-write {
  #reviewForm {


    label {
      display: block;
      color: #000;
      font-weight: 500px;
    }

    text-align: center;
  }

  .has-error input.form-control {
    background: #f6e0e0 !important;
    border-color: #c53131 !important;
  }

  .form-group input {
    border: none;
    box-shadow: none;
    color: #000;
    background: #fff;
    border-radius: 3px;
  }
}

.js-qty-selector-input {
  padding: 0;
  border: none;
  box-shadow: none;

}

.form-group:empty {
  margin: 0px !important;
}

.scratched:empty {
  margin: 0px !important;
  display: block;
}


.carousel__item {
  .add_to_cart_form {
    .btnpdpAddtocart {
      height: 26px !important;
      align-items: center;
    }
  }
}

.paddfull {
  @media (max-width: @screen-sm-max) {
    margin: 0 -20px;
    .yComponentWrapper {
      padding: 0;


      .carousel__component--carousel {
        margin: 10px 0px !important;

      }
    }
  }

}

.btn-primary, .btn-default {


  border-radius: 3px !important;
  font-size: 12px !important;
  padding: 7px;
  height: 36px !important;
}


.btnpdpAddtocart {
  margin: 0 !important;

  padding: 0 !important;

}

.form-group.has-error {
  .btn-select {
    background: #f6e0e0 !important;

  }

}


.firstimgBanner {

  margin-bottom: 0;

}

div#js-cookie-notification {

  position: fixed;
  bottom: 10px;
  left: 10px;
  background: #fff;
  z-index: 100;
  color: #7b7b7b;
  max-width: 300px;
  border: 1px solid #ababab;
  box-shadow: 0 0 4px 1px #50505070;

  .close {


    right: 0px;
    opacity: 1;
    padding: 7px 15px;
    background: #595a58;
    display: inline-block;
    color: #fff;
    background: #595A58;
    font-size: 12px;
    border-radius: 3px;
    padding: 6px 18px 7px 11px;
    margin-top: 10px;
    font-weight: 400;
    width: 100%;


  }


}


.product-main-info {

  .qty-selector {


  }

  .btnpdpAddtocart {

    height: 36px !important;
    padding-top: 0px !important;

    .iconBtnCart {
      margin-top: -1px !important;

    }

    .btnCartText {
      padding-top: 0px !important;
      font-weight: 400;

    }
  }
}

.js-update-entry-quantity-input {
  width: 30px;
}

.language-ar {

  .geo_place {
    text-align: right;
    z-index: 1;
    right: 105px !important;
    left: unset !important;
    position: absolute;
    width: 41px;
    top: 10px;
    height: 41px;

  }
}

.language-ar .geo_place #geo {
  padding: 6px 12px;

  i {
    font-size: 14px;
  }
}


.geo_place {
  margin-bottom: 15px;
  text-align: center;
  padding: 0;

  #geo {
    cursor: pointer;
    color: #2496d2;
    background: #ffffff;
    border: 1px solid #ffffff;
    width: 141px;
    height: 42px;
    position: relative;
    display: flex;
    box-shadow: 0px 0px 3px 2px #cccccc59;
    align-items: center;

    i {
      position: absolute;
      top: 50%;
      left: 4%;
      transform: translate(0%, -50%);
      text-transform: capitalize;
      font-weight: 600;
      color: #2496d2;
    }
  }
}

#outside, #block_geo {
  display: none;
}

#us2 {
  width: 100%;
  height: 300px;
}


.cont_map {
  position: relative;

  .geo_place {
    text-align: left;

    z-index: 1;
    left: 8px;
    position: absolute;
    width: 41px;
    top: 10px;
    height: 41px;
  }

}

.tools-style {
  display: block;
  width: 100%;
  margin-top: 5px;
  padding: 7px 3px;
  background: #fff;
  color: #6d6d6d;

  i {
    color: #ea4334;
    margin-right: 5px;
    font-size: 17px;

  }

}

#outside {
  color: #fff;
  background: #595A58;
  font-size: 13px;
  border-radius: 3px;
  padding: 6px 18px 7px 11px;
  margin-top: 10px;
  font-weight: 400;
  width: 100%;
  margin-bottom: 0px;

}

.cont_map {
  margin-bottom: 15px;
}

.getLocation {
  position: absolute;
  top: 50%;
  left: 22%;
  transform: translate(0%, -50%);
  text-transform: capitalize;
}


.page-update-profile {

  .control-label.uncased {
    padding: 0;
    padding-left: 0px !important;
    display: flex !important;
    align-items: center;

    .margin-r {
      padding-left: 15px;
      color: #000;
    }

    .el-switch {
      padding-left: 0px !important;
      display: flex !important;
      align-items: center;
    }
  }

  .profilecheckbox {


    .FormNational {
      @media (max-width: @screen-sm-max) {
        margin: 10px 0;

        .form-group {
          padding-left: 0px;

          .form-control {
            height: 32px;
          }
        }
      }
    }

    .control-label.uncased {
      @media (max-width: @screen-sm-max) {
        display: block !important;

      }
    }
  }

  .checkboxMartal {
    margin-bottom: 10px;
  }

}

.mainLoading {
  display: block;
  min-height: 90px;
  position: relative;
  z-index: 5;
}


.imagesCard {
  display: none;
}


.wishlist {
  @media (min-width: @screen-md-min) {
    .addtocart-component {
      float: right;
      margin: 0 15px;

    }

    .remove-wishlist-entry-for-product {
      padding: 0;
      border: 0;
      background: #fff;
      font-size: 28px;
      width: 0;
      outline: none;

      span {
        font-size: 25px
      }
    }

  }
}

.wishlist .add_to_cart_form .btn {
  @media (max-width: @screen-sm-max) {
    width: 40px !important;
    height: 40px !important;
    .Add_cart_icon {
      margin-top: 2px;
      margin-left: 4px;
    }
  }
}

.wishlist .item__list .item__remove .btn {

  @media (max-width: @screen-sm-max) {


    width: 40px;
    height: auto;
    float: left;
  }
}


.page-my-wishlist {
  .account-section-content {
    @media (min-width: @screen-md-min) {
      margin: 0 30px;
    }
  }
}

.pageLabel--my-account-my-wishlist {
  .item__list .item__list--item .item__price {
    @media (min-width: @screen-md-min) {
      padding-left: 50px;

    }
    @media (min-width: 1200px) {
      padding-left: 25px;

    }


  }

}

.pagSection {
  @media (max-width: @screen-sm-max) {
    float: right;
  }
}

.stockLevel {
  height: 20px;
  display: block;
  text-align: left;

  i {
    color: red;
    margin-right: 5px;
  }
}

.firstLevelMenu .yCmsComponent, .wsmenu-list.ietmSubL2 {
  display: none !important;
}

.levelThreeContainer .yCmsComponent {
  display: block !important;
}

.btn[disabled] {
  border: 0px !important
}


@media (min-width: @screen-md-min) {
  .levelThreeContainer {
    min-height: 100% !important;
    padding: 10px 0;
  }

  .wsmenu > .wsmenu-list {

    padding-left: 18px !important;

    li {
      cursor: pointer;
    }

  }

  .firstLevelMenu {
    text-align: left;
    min-height: 28px;

    a {
      color: #000;
      font-size: 14px;
    }

    padding: 10px 7px !important;
    position: relative;

    .firstLevelItem {
      padding: 0px !important;
    }
  }


  .levelThreeContainer li {
    padding: 4px 0 !important;
  }


  .levelTwoContainer {
    padding: 10px 0;
    border: 0 !important;
    background-color: #ededed;

    .ChildLevelTwoItem {
      position: relative;
      display: inline-block;
      width: 100%;
    }

    li.ChildLevelTwo {
      width: 284px;
      background-color: #ededed;
      color: #fff;
      padding: 10px 0 !important;

      min-height: 28px;
      text-align: left;

      a {
        text-align: left;
        color: #000;
        display: block !important;
        max-width: 90%;
        padding: 0 12px !important;
        font-size: 13px;
        font-size: 13px;
        font-weight: 500;

      }

      .arrowRight {
        position: absolute;
        right: 10px;
        top: 50%;
        font-size: 13px;
        transform: translateY(-50%);

        i {
          color: #000;
        }
      }

      position: unset !important;

      &:hover {
        background-color: #ffffff;
      }

      a {

      }

    }
  }
}

@media (min-width: @screen-md-min) {
  .firstLevelItem {
    a {
      padding: 0 !important;
      color: #fff;
      font-size: 14px;
      font-weight: 600;
    }
  }

  .levelThreeContainer {
    box-shadow: 0px 7px 11px #00000038;
  }

}

@media (max-width: @screen-sm-max) {

  .wsmenu-list {
    i {
      float: right;
      margin-right: 20px;
    }

  }

  ul.sub-menu {
    margin-top: 15px;
    display: none;

    li {
      margin-bottom: 5px !important
    }
  }

  .firstLevelMenu {
    min-height: 40px;

    text-align: left !important;
    padding-left: 10px !important;

    .firstLevelItem {
      display: inline-block;
      padding-top: 10px;
      width: 100%;

      a {
        padding: 0 !important;
        color: #595a58;
      }
    }

  }

  .ChildLevelTwo {
    min-height: 40px;

    text-align: left !important;
    padding-left: 10px !important;

    .ChildLevelTwoItem {
      display: inline-block;
      padding-top: 10px;
      width: 100%;

      a {
        padding: 0 !important;
        color: #595a58;
        width: 80%;
        display: inline-block;
      }
    }

  }
}


@media (max-width: @screen-sm-max) {
  .navigation--bottom .nav__links--products li a {
    margin-top: 0;
    color: #595A58;
    text-transform: capitalize;
    padding: 10px 20px !important;
    display: block;
    font-size: 13px !important;
  }
}


@media (max-width: @screen-sm-max) {
  .navigation.navigation--middle.js-navigation--middle {
    .col-md-4.col-lg-5.col-xs-12.col-sm-12 {
      min-height: 0px;
    }

  }

}


@media (max-width: @screen-xs-max) {
  .deliveryhead {
    .title_part_location i {
      width: 26px;
    }

    .title_part_drive i {
      max-width: 26px;
    }
  }

}

.item__stock {
  .stock {
    display: flex;
    align-items: center;
    margin-top: 5px;

    i {
      padding-bottom: 0px !important;
      margin-top: 1px !important;
    }
  }

}

.item__list--header {
  @media (max-width: @screen-md-max) {
    .item__price {
      padding-left: 0px !important;
    }

  }
}


.btnWishlist {
  form {
    padding: 0 !important;
  }
}

.js-owl-pdp-img-mobile {
  text-align: center
}

.rightSideMenu {
  left: 0px !important;
}

.leftSideMenu {
  right: auto !important;
  left: 0 !important;

}

.leftSideMenu3 {
  right: 100% !important;
  left: auto !important;

}


.product-item-content .wishlist_icon .addWishlistEntry i {
  font-weight: 600;
}


.tabPdppage {
  .tabhead {
    display: none;
  }

}


.calssifiationHeadline {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 5px;
}

.calssifiationkey {
  color: #ACACAC;
  font-size: 14px;
  margin-right: 5px;
  margin-bottom: 10px;
  display: inline-block;
}


.pageLabel-cart {
  .alert.alert-danger.alert-dismissable.getAccAlert {
    text-align: center;
    background: #E32220;
    color: #fff;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0 60px;

    .closeAccAlert {
      color: #fff;
      outline: none !important;
    }

    @media (max-width: @screen-sm-max) {
      margin: 0 10px;
    }

  }
}


.tab_login_header, .login_box {
  @media (max-width: @screen-sm-max) {
    display: none !important;

  }
}

.page-details-add-to-cart-component {
  @media only screen and (max-width: 1312px) and (min-width: 1024px) {

    .addtocart-component {
      .qty-selector {
        float: none !important
      }

      display: block !important;

      .actions {
        margin-top: 20px;
      }

    }

  }

}

.PaymentDiv {
  margin: 14px auto !important;

  .checkout-next {
    margin: 20px auto !important;
  }
}


.wishlistLogin {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 1040;
  background-color: rgba(0, 0, 0, 0.5);

  .login_wishlist {
    font-weight: 600;
    margin: 0 2px;
  }

  .wishlist_popup {
    box-sizing: border-box;
    min-width: 0px;
    height: 100vh;
    width: 100%;
    z-index: 999999;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    margin: 0px;
    height: auto;
    width: 400px;
    max-width: 100%;
    max-height: 100%;
    @media (max-width: @screen-xs-max) {
      width: 85%;
    }

    .popupBoxWishlist {
      background-color: #ffffff;
      box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
      border-radius: 2px;
      padding: 24px 0px 30px;
      margin: 0px;
      transform: translate3d(0px, 0px, 0px);
      opacity: 1;

      .header_wishlist {
        padding: 10px 24px;
        margin-bottom: 10px;

        .Title_wishlist {
          font-size: 17px;
          font-weight: 600;
        }

        .Close_wishlist {
          float: right;
          font-size: 17px;
          cursor: pointer;

        }

      }

      .Content_wishlist {
        padding: 0px 24px;
      }


    }

  }
}

.headerStaticPage {
  text-align: left;
  @media (max-width: @screen-sm-max) {
    text-align: center
  }
}


.OrLoginotp {
  color: #414C50;
  margin: 10px 0;
  padding-right: 5px;
}


.AboutUsPage {
  .header-title {

    font-size: 20px;
    margin: 15px 0;
    display: inline-block;
  }

  .about-content {

    font-size: 18px;
    line-height: 35px;
  }
}


.pagetop-link {
  display: none;
}


.checkboxGuest label {
  display: block;
}


.pageLabel-orderConfirmation .checkboxLabelSection {
  .el-switch {
    display: flex !important;
    align-items: center;
    padding-left: 0;
  }

  .termsConditions {
    margin-left: 5px;
  }

}


.guestCheckoutBtn[disabled] {
  background-color: #b6b6b6 !important;
  border-color: #b6b6b6 !important;
}


.btn-primary[disabled] {
  background-color: #56bd7c;
  border-color: #56bd7c !important;

}

#storeFinder {
  .js-store-finder-pager-item-from, .js-store-finder-pager-item-to, .js-store-finder-pager-item-all {

    font-weight: 600;

  }

  .account-section-header {
    text-transform: uppercase;
    margin: 0;
    padding-right: 0;
    padding: 20px 0;
    padding-left: 10px;
    color: #595A58;
    font-size: 20px;
    line-height: 35px;
    font-weight: 400;
  }
}


#storeFinderForm {
  #findStoresNearMe {
    margin: 0 !important;
    margin-left: 10px !important;
    @media (max-width: @screen-xs-max) {
      margin-top: 15px !important;
    }
  }

  .input-group {
    width: 100%;

    @media (max-width: @screen-xs-max) {
      display: block !important;
      .input-group-btn {
        text-align: center;

      }

    }


  }


}

.paddfull {
  width: 100%;

  .yComponentWrapper {
    padding: 0px !important
  }
}

.fixMar {
  margin: 0;

}

.checkout-login-right-content-component .guestEmail {
  margin-bottom: 30px;
}


label {
  color: #000;
  text-transform: capitalize;

}


.levelThreeContainer {

  a {
    font-size: 12px !important;
  }
}


.loadingSub {

  zoom: .3;
  margin-top: 5px;
  display: inline-block;


  .lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }

  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
  }

  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }

  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }

  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }

  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

}

.colorSubDesgin {
  text-align: left;
  font-weight: 400;
}

.loadingSub {
  display: none !important;
}

.arrowSub {
  display: inline-block !important;
}

.Btnloading {
  .loadingSub {
    display: block !important;
  }

  .arrowSub {
    display: none !important;
  }

  cursor: not-allowed;
  opacity: .7;
}


.FormSubscribe {
  display: flex;
  justify-content: start;
}

#mc-embedded-subscribe-form {
  margin-bottom: 0px;
}


.availableBlance {
  font-weight: 600;
  margin-bottom: 22px;

  .green_color {
    color: #f3c318;
  }

}


.pageLabel--my-account-store-credit {
  .titleotherPages {
    color: #595A58;
    font-size: 20px;
    margin-bottom: 7px;
    display: inline-block;
    text-transform: uppercase;
  }
}

#sctCode, #loyaltyPaymentCode {
  display: none;
}

#selectStoreCreditForm, #selectLoyaltyPointForm {

  position: relative;

  .balance {
    position: absolute;
    top: 15px;
    right: 10px;
    background: #cb802a;
    border-radius: 15px;
    width: 252px;
    height: 52px;
    border-radius: 0;

    .available {
      display: inherit;
      padding-bottom: 4px;
      font-size: 12px;
      color: white;
      text-align: center;
      padding-top: 8px;

    }

    @media (max-width: @screen-md-max) {
      width: 250px;

    }
    @media (max-width: @screen-sm-max) {
      position: unset;
      transform: translateY(0);

    }

    .aed {
      display: block;
      text-align: center;
      font-size: 13px;
      color: #fff;
      font-weight: 900;
      padding-bottom: 4px;
    }

  }

}

.VatText {

  @media (max-width: @screen-md-max) {
    font-size: 13px;

  }
  @media (max-width: @screen-xs-max) {
    font-size: 14px;

  }
  @media (max-width: 350px) {
    font-size: 11px;

  }

}

.padmd0 {
  @media (min-width: @screen-md-min) {
    padding: 0px !important;
  }
}

.subtotal {
  font-size: 15px;
  @media (max-width: @screen-md-max) {
    font-size: 13px ;
  }
}


.VatText {
  font-size: 13px;
  @media (max-width: @screen-md-max) {
    font-size: 13px;

  }
  @media (max-width: @screen-xs-max) {
    font-size: 14px;

  }
  @media (max-width: 350px) {
    font-size: 11px;

  }

}


.continue__shoppingConB {

  @media (min-width: @screen-md-min) {
    float: right !important;
  }
  text-algin: center;

}


.w1300 {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
}

@media (min-width: 1300px) {
  .deliveryhead {
    .w1300 {
      padding: 0 15px;
      display: flex;
      align-items: center;
    }
  }

  .paddfull {
    padding: 0 30px;
    margin: 0;
  }

  .main_banner {

    margin: 0 30px;
  }
}

.js-owl-default {
  .owl-next {
    color: #d2d2d2 !important;
    text-transform: uppercase;
    font-size: 39px !important;
    align-items: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    background-color: #ffffff !important;
    /* height: 48px; */
    /* width: 48px; */
    right: -35px;
    outline: none !important;
    padding: 0px !important;
    transition: box-shadow 0.25s ease 0s, border-color 0.25s ease 0s;
    border: none !important;
    @media (max-width: @screen-xs-max) {
      right: -25px ;
    }

    span {
      font-weight: 500
    }

  }

  .owl-prev {
    color: #d2d2d2 !important;
    text-transform: uppercase;
    font-size: 39px !important;
    align-items: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    background-color: #ffffff !important;
    left: -35px;
    outline: none !important;
    padding: 0px !important;
    transition: box-shadow 0.25s ease 0s, border-color 0.25s ease 0s;
    border: none !important;
    @media (max-width: @screen-xs-max) {
      left: -25px ;
    }

    span {
      font-weight: 500
    }
  }
}


.js-owl-rotating-image {
  .owl-next {
    color: #6f6f6f !important;
    text-transform: uppercase;
    width: 40px;
    height: 40px;
    font-size: 24px !important;
    align-items: center;
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    z-index: 1;
    background-color: none !important;

    right: 0px;
    outline: none !important;
    padding: 0px !important;
    transition: box-shadow 0.25s ease 0s, border-color 0.25s ease 0s;
    background: #eaeaea !important;
    border-radius: 0 !important;
    font-weight: 400;


  }

  .owl-prev {
    color: #6f6f6f !important;
    text-transform: uppercase;
    width: 40px;
    height: 40px;
    font-size: 24px !important;

    align-items: center;
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    z-index: 1;
    background-color: none !important;

    left: 0px;
    outline: none !important;
    padding: 0px !important;
    transition: box-shadow 0.25s ease 0s, border-color 0.25s ease 0s;
    background: #eaeaea !important;
    border-radius: 0 !important;
    font-weight: 400;
  }
}

.firstLevelMenu {
  &:hover {
    background-color: #068d3a;
  }
}

.leftSideMenuTwo {
  left: 0 !important;
}

.cart-totals-left {
  @media (min-width: 1300px) {
    font-size: 14px;
  }
}

.checkout-login {
  .login_cont {
    padding: 35px 50px;
    border: 1px solid #D9D9D9;
    border-radius: 10px;
  }

  #guestForm {
    padding: 35px 50px;
    border: 1px solid #D9D9D9;
    border-radius: 10px;
  }


}


.promo_label {
  position: absolute;
  top: 0;
  left: 0;
  height: 23px;
  width: 64px;
  margin-top: 5px;
  margin-left: 0px;
  font-size: 12px;
  color: #fff;
  background-color: #7f1c2b;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  z-index: 3;
  @media (max-width: @screen-sm-max) {
    left: 25px;
  }


}

.pickup-product {
  .btn-group.bootstrap-select {
    float: left;
    margin-bottom: 10px;
  }


}

.product-item-content, .product-details, .pickup-product, .item__info {
  .bootstrap-select {
    max-width: 100%;

    .btn-select {
      font-size: 12px;
      background-color: #fff;
      border: 1px solid #ccc;
      color: #000 !important;
      padding: 10px;
    }
  }

}

.item__info {
  .bootstrap-select {
    margin: 5px 0;
  }
}

.pickup-product {
  @media (max-width: @screen-sm-max) {
    .bootstrap-select {
      width: 100% !important;
    }
  }
}


.titleotherPages {
  color: #595A58;
  font-size: 20px;
  margin-bottom: 10px;
  display: inline-block;
  text-transform: uppercase;

}

.green_color {
  margin-left: 5px;
  color: #f3c318;
}

.sepratechar {
  margin: 0 20px;
}


.loyaltyTable {
  margin-top: 10px;

  .head_account_cridit {
    text-align: center;

  }

  .responsive-table-item {
    td:last-child {

      font-weight: 500 !important;
      color: #000000 !important;

    }

    @media (min-width: @screen-sm-min) {

      td {
        text-align: center !important;
      }


    }
  }

}


.balanceCont {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: space-around;
  color: #fff;

  .titleLo {
    font-size: 12px;
  }

  .availablePoints {

  }

  .availableAmount {


  }

}

.selectUnit {
  display: inline-block;
  margin-right: 10px;
  max-width: 104px;
  background: #f2f2f3;

  .dropdown-menu.open {
    width: 104px !important;
  }

  .btn-group.bootstrap-select {

    width: 104px !important;
    height: 36px;
    padding: 0;
    border-radius: 5px;
    background: #f2f2f3;

    .btn-select {

      padding: 8px 5px 9px;
      color: #646464;
      font-size: 13px;
      font-weight: 600;
      border: 1px solid #919191;
      margin-top: 0;
      margin-bottom: 0;
      width: 104px;
      border-radius: 7px !important;
      background: #fff;

      &:hover {

        color: #484747FF !important;
        border-color: #6E6C6CFF !important;
      }

      i {
        font-weight: 600;
      }
    }

  }

}


.stock-wrapper {
  i {
    margin-top: 3px;
  }
}

@media (max-width: @screen-xs-max) {
  .selectUnit {
    margin-bottom: 10px;
  }

}

.SelectitemUnit {

  width: 80px;
  height: 26px;
  font-size: 11px;
  border: 1px solid #dbdbdb;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 7px;
  background: #f2f2f3;
  color: #a4a4a4;
  font-weight: 800;
  cursor: pointer;
  border-radius: 3px;

  &:hover {

    color: #8a8a8a !important;
    border-color: #d9d9d9 !important;
  }

  i {
    font-weight: bold;
  }

}


.SelectproductQtyItem {
  position: absolute;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  left: 8px;
  bottom: 37px;
  background-color: #ffffff;
  z-index: 3;
  max-height: 200px;
  max-width: 83px;

  .closeBox {
    width: 100%;
    top: 0px;
    color: rgba(0, 0, 0, 0.4);
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px 0px;
    padding: 12px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    font-size: 14px;

    i {
      font-size: 16px;
      cursor: pointer;
    }
  }

  .itemSelectQty {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    color: rgb(77, 77, 77);
    cursor: pointer;
    text-align: center;
    height: 42px;
    width: 100%;

    &:hover {
      background: #e9e9e9
    }
  }

}

.itemSelectQty.active {
  background: #c8c8c8 !important;
}

.product-item-content {
  .SelectitemUnit {
    width: 75px;
    height: 30px;
  }

  .SelectproductQtyItem {
    max-width: 65px;
    font-size: 12px;

    .itemSelectQty {
      height: 39px;
    }
  }

}


.item__list--item {
  .selectUnit .dropdown-menu.open {
    width: 80px !important;

    li {
      a {
        padding: 10px !important;
        text-align: center;
      }
    }
  }

  .selectUnit {
    float: right !important;
    margin: 0px;
    max-width: 80px !important;

    @media (max-width: @screen-sm-max) {
      float: left !important;
    }

    .SelectproductQtyItemS.bootstrap-select {
      width: 80px !important;

      .btn-select {
        width: 80px !important;
      }
    }

  }

}


.item__list--header {


  .item__price {
    @media (min-width: @screen-md-min) {
      padding: 0 !important;
      padding-left: 35px ;
      text-align: left;
    }
  }

}


.item__list--item.hidden-sm.hidden-xs {
  .item__price {
    text-align: left;
    padding-left: 20px
  }
}

.cart-totals-left {
  @media (max-width: @screen-xs-max) {
    font-size: 11px !important;
  }
}

.add_to_cart_storepickup_form {
  display: flex;
  align-items: center;
  justify-content: start;

  .bootstrap-select.SelectproductQtyItemS {
    margin: 0px !important;
  }


}

.pickup-product {

  .OutOfStock {
    margin-left: -10px;
    margin-bottom: 5px;
    display: inline-block;
    @media (max-width: @screen-sm-max) {
      float: left;
      margin-left: 0;
    }

    i {
      color: red;
      margin-right: 3px;

    }
  }

  .SelectitemUnit {
    height: 35px;
  }

  .SelectproductQtyItem {
    left: 112px;
    bottom: 121px;
    @media (max-width: @screen-sm-max) {
      left: 0;
      bottom: 73px;
      height: 200px;
    }

  }

}

.pdpAddtocart {
  .SelectproductQtyItem {
    width: 99%;
    height: 97%;
    left: 0px;
    bottom: 7px;
    max-height: 100%;
    max-width: 100%;
    border-radius: 15px;

  }

}

.add_to_cart_storepickup_form {
  .SelectitemUnit {
    width: 95px
  }

  .SelectproductQtyItem {

    max-width: 95px
  }


}

.variant-type {
  margin-top: 15px;

  .item-variant {
    border: 1px solid #D9D9D9;
    padding: 8px 14px;
    border-radius: 5px;
    color: #000;
    outline: none;
    text-decoration: none;
    margin-right: 7px;

    &:hover {
      box-shadow: 0 0 11px rgba(35, 35, 35, 0.2);
    }

  }

  .item-variant.active-item {
    background: #299c48;
    color: #fff;
  }

}

#command {
  text-align: center;
}

.tableNews {
  th, td {

    border: 1px solid #000;
    text-align: left;
    padding: 8px;

  }

  th {
    text-align: center;
    background-color: #bebebe;
  }


}

.FAQ__nav--container {
  background: #f3f2f3;
  display: block;

  .FAQ-action {

    font-size: 18px;
    font-weight: 600;
    padding-left: 9px;
    padding: 10px;
    cursor: pointer;
    margin-bottom: 10px;

    .title {
      padding-left: 5px;

      span {
        float: right;
        padding-right: 10px;
        padding-top: 3px;
      }
    }

  }

  .FAQ__nav--links {
    display: none;
    line-height: 29px;
    font-size: 15px;
    font-weight: 500;
    padding-left: 34px;
    padding-bottom: 10px;
    margin-bottom: 10px;

  }

  .activeFaq {
    display: block;
  }

}

.ias-trigger-next {
  margin: 10px auto 0;
}


.contBtnqy {
  display: inline-block;
}

.add_to_cart_form {


}

.bannarImage {
  padding: 20px 30px;
  @media (max-width: @screen-xs-max) {
    padding: 20px;
  }
}

.Convienience {

  @media (min-width: @screen-md-min) {
    display: flex;
  }

  .ConvienienceItem {
    height: 100%;

    border: 1px solid #fff;

    border-radius: 50%;

    a {
      display: flex;
      align-items: center;
      color: #fff;
      background: #000;
      height: 100%;
      border-radius: 15px;
      outline: none;
      text-decoration: none;
      min-height: 111px;
      @media (max-width: @screen-sm-max) {

        justify-content: center;
        max-width: 350px;
        margin: 10px auto;
      }
    }


  }

  .ConvienienceItem.Savings a {
    background: #97aceb;

    img {
      width: 88px;
      margin: 10px 20px 10px 26px;
      @media (max-width: @screen-sm-max) {

        margin: 10px 20px 10px 0px;
      }

    }
  }

  .ConvienienceItem.Speciality a {
    background: #b886cb;

    img {
      margin: 10px 20px 10px 26px;
      @media (max-width: @screen-sm-max) {

        margin: 10px 20px 10px 0px;
      }
    }
  }

  .ConvienienceItem.Delivery a {
    background: #9c8c7f;

    img {
      margin: 10px 20px 10px 16px;
      @media (max-width: @screen-sm-max) {

        margin: 10px 20px 10px 0px;
      }
    }
  }

}

.headline-title {
  text-align: center;
  margin: 0 0 10px;
  font-weight: 600;
  font-size: 20px;
  color: #000;
}

.ReOrder {
  background: #fff;


  display: flex;

  padding: 10px;
  justify-content: space-evenly;
  margin: 0 10px;
  @media (max-width: @screen-xs-max) {
    background: #fff;
    margin: 15px 0 ;
    padding: 0px;
  }

  .col-md-4 {
    max-width: 300px;

  }

  @media (max-width: @screen-sm-max) {
    margin: 15px 0;
  }

  .ReOrderItem {
    height: 100%;
    border-radius: 10px;
    margin: 0 auto;
    /* max-width: 300px; */
    background: #efefef;
    @media (max-width: @screen-xs-max) {
      margin: 10px auto;
      background: #efefef;
      border-radius: 5px;
    }

    a {
      display: flex;
      align-items: center;
      color: #000;
      background: #efefef;
      height: 100%;
      border-radius: 20px;
      min-height: 124px;
      outline: none;
      text-decoration: none;
      justify-content: center;
      @media (max-width: @screen-xs-max) {
        display: flex;
        flex-direction: column;
        min-height: auto;
        justify-content: space-evenly;
        border: 1px solid transparent;
        border-radius: 7px;
        background: #efefef;
      }

      img {
        max-width: 73px;
        margin-left: 11px;
        @media (max-width: @screen-xs-max) {
          margin: 0;
          max-width: 45px;
          margin-top: 10px;
        }
      }

      h3 {

        font-size: 19px;
        text-align: center;
        padding: 0 21px 0 20px;
        margin: 0;
        font-weight: 400;
        color: #1a6b39;
        @media (max-width: @screen-xs-max) {
          font-size: 15px;
          padding: 0;
          color: #1a6b39;
        }

      }
    }


  }


}

.animationBanner {


  @media (max-width: @screen-sm-max) {
    margin: 0 !important;
    padding: 0 0 10px !important;
  }
}

.bannarImagepadding {
  padding: 20px 0;
  @media (max-width: 1300px) {
    padding: 20px 0;
    margin: 0 30px;
  }
  @media (max-width: @screen-xs-max) {
    margin: 0 10px;
  }
}

.bannarImagepaddingdowndots {
  @media (max-width: 1300px) {
    padding: 0 10px;
  }

  .carousel__component--headline {
    padding: 0 !important;

  }
}

.youCon {
  padding: 0 30px 15px;
  @media (max-width: @screen-sm-max) {
    padding: 0 0 15px;
  }
}

.divReOrder {
  padding: 0px 40px;
  margin: 15px 0;
  @media (max-width: 1300px) {
    margin: 0;
    padding: 0;
    //background-color: #dcdcda;
  }

}

.bannarImagecar {
  padding: 0 20px;

  @media (max-width: @screen-xs-max) {
    padding: 0px;
  }

}

.bannarImagecarboard {

  padding: 0 20px;

  @media (max-width: @screen-xs-max) {
    padding: 0 10px
  }
}

.bannerImgSection {
  padding: 0 30px;
  margin: 0;
  margin-bottom: 10px;

  @media (max-width: 1300px) {
    padding: 0 20px;
  }

}

.disCountPrice {

  display: inline-block;
}


.mega-hover {
  position: relative;
  overflow: hidden;


  img {
    transition: all 1s ease;
    transform: scale(1);
  }

  &:after,
  &:before {
    content: '';
    position: absolute;
    pointer-events: none;
    opacity: 1;
    z-index: 3;
    transform: rotate(5deg);
  }

  &:before {
    top: 0;
    right: 51%;
    bottom: 0;
    left: 50%;
    background: rgba(255, 255, 255, 0.3);
  }

  &:after {
    top: 50%;
    right: 0;
    bottom: 50%;
    left: 0;
    background: rgba(255, 255, 255, 0.6);
  }


  &:hover {
    &:before {
      left: 0;
      right: 0;
      opacity: 0;
      transition: all 900ms linear;
    }

    &:after {
      top: 0;
      bottom: 0;
      opacity: 0;
      transition: all 900ms linear;
    }

    img {
      transform: scale(1.05);
    }
  }
}

.js-owl-rotating-image-banner-two, .bannarImage {
  .mega-hover {
    border-radius: 25px
  }
}

.bannarImage {
  .mega-hover {
    border-radius: 12px
  }
}

.discount-cont {
  display: block
}

.itemPickup {
  font-size: 11px;
  margin-bottom: 5px;
  color: #076c21;
}

.foodCupboard {

  @media (max-width: @screen-xs-max) {
    .subColImage .box_img {
      margin: 0 !important;
    }

    .col-xs-4 {
      padding: 5px !important;


    }
  }
}


@media (max-width: @screen-xs-max) {
  .foodCupboard {
    .owl-next {
      right: -25px !important;
    }

    .owl-prev {
      left: -25px !important;
    }
  }
}

.fullWidthInmobile {

  @media (max-width: @screen-xs-max) {
    padding: 0 !important;
    .yComponentWrapper {
      padding: 0 !important;

    }
  }

}


@media (min-width: 1024px) {
  .categotiesSectionCont {
    padding: 0 !important;
  }

}

@media (min-width: 1300px) {


  .categotiesSectionCont {
    margin: 0 30px !important;


    .owl-stage-outer {
      background-color: #eaeeef;
      padding: 0 10px;
    }

    /*.categoriesSection {


      max-width: 1260px;


    }*/
  }
}

@media (max-width: 1300px) {
  .fullWidthInmobile {
    padding: 0 !important;
  }
}


.js-pickup-in-store-button {
  border-radius: 3px !important;
}

.bt_pickup-popup[disabled] {
  background-color: #2d8820 !important;
  border-color: #2d8820 !important;

}

.bt_pickup-popup {
  min-width: 88px;
  text-align: left;
  padding-left: 15px;

}


.carousel__item {
  .js-qty-selector-input {
    padding: 0px !important;
  }

  .js-qty-selector-minus, .js-qty-selector-plus {

    line-height: 13px;
    height: 26px;

  }
}


.pricetitleWishlist {

  @media (min-width: @screen-md-min) {
    text-align: left !important;
    padding-left: 15px !important;
  }
}


.contianerQty {
  .js-qty-selector-input {
    padding: 0px 0 1px !important;
  }


  .selectUnit {
    max-width: 80px !important;
    @media (max-width: @screen-sm-max) {
      max-width: 100% !important;
      background-color: #fff;
    }

    .dropdown-menu.open {
      max-width: 80px !important;
      @media (max-width: @screen-sm-max) {
        max-width: 100% !important;
        background-color: #fff;
      }
    }

    .btn-group.bootstrap-select {

      width: 80px !important;
      @media (max-width: @screen-sm-max) {
        max-width: 100% !important;
        background-color: #fff;
      }

      .btn.dropdown-toggle.btn-select {

        max-width: 80px !important;
        width: 80px !important;
        font-size: 12px;

        @media (max-width: @screen-sm-max) {
          max-width: 100% !important;
          width: 100% !important;
          background-color: #fff;
        }

      }
    }
  }

}

.btnpdpAddtocart[disable] {

  background-color: #73be69 !important;
  border-color: #73be69 !important;

}

.contianerQty {

  position: relative;

  .SelectitemUnit {
    height: 36px !important;


  }

  .SelectproductQtyItem {
    width: 100%;
    border-radius: 0px !important;
    left: 0px;
    top: 36px;
    bottom: auto;
    min-height: 140px;

    .itemSelectQty {
      height: 34px;
      width: 100%;
      font-size: 12px;

    }
  }

}


.page-express {
  .paddCarExpress {
    padding: 20px 0;
  }

  .bannarImage {
    padding: 20px 30px 0px;
  }

}

.contQtyCartItem {
  @media (min-width: @screen-md-min) {
    float: right;
  }
  @media (max-width: @screen-sm-max) {
    display: flex;
    .qty_cart {
      margin-left: 10px;
      display: flex;
      align-items: center;

      .js-update-entry-quantity-input {
        max-height: 26px;
      }
    }

  }
}


.productItemListHolder {
  @media (min-width: @screen-md-min) {
    .item__list--header .item__price {
      padding-left: 0 !important;
    }

    .item__price.hidden-xs.hidden-sm {
      padding-left: 20px;
    }
  }
}


.i18nAddressForm {
  display: none;

}

.bt_pickup-popup {

  width: 75px;
  border-radius: 15px !important;
  height: 30px;
  display: flex;
  background: #1a6c39;
  border-color: #1a6c39 !important;
  border-radius: 7px !important;

  &:hover, &:focus {
    background-color: #18620e !important;
    border-color: #18620e !important;
  }

  .iconBtnCart {
    font-size: 12px
  }

  .btnCartText {
    position: relative;
    margin-left: 7px;
    font-size: 13px;
  }


}


.product-details, .item__info, .checkout-order-summary-list-items {
  .expressdelivery {
    display: inline-block;
    margin: 10px 0 0;
    position: relative;
    transform: none;

  }
}

.item__info, .checkout-order-summary-list-items {
  .expressdelivery {
    margin-bottom: 10px;
  }
}

.productItemListHolder {
  .expressdelivery {
    display: block;
  }
}

.is-sticky {
  position: relative;
  z-index: 60;

  .breadcrumb-section {
    display: none
  }
}

.is-sticky.disable_sticky {
  display: none !important;
  height: auto !important;
}

.sticky-wrapper.disable_sticky {
  height: auto !important;
}

.price-per-unit {
  font-size: 14px;
  font-weight: bold;
  color: #858585;
  margin: 5px 0;
  display: inline-block;
  border: 1px #ccc solid;
  padding: 5px;

  .unit {
    color: rgba(0, 0, 0, .5);
    font-size: 14px;
  }

}

.page-orderConfirmationPage {

  @media (min-width: @screen-md-min) {
    .item__list--header .item__price {
      padding-left: 0px !important;
    }

    .item__list .item__list--item .item__price {
      padding-left: 16px !important;
    }

  }
}

.account-orderhistory-pagination {

  .pagination {
    display: none !important;
  }
}

.bottompagination {

  .pagination-toolbar {
    margin: 0 !important;
    padding: 0 !important;

    .sort-refine-bar {
      padding: 0;

      .rowFilter {

        .titleCategoryPlp {
          display: none
        }

        .pagSection {
          width: 100% !important;

          .form-group {
            display: none
          }

          .pagination {
            float: right;
            display: block !important;
            margin-top: 0 !important;
          }
        }

      }
    }
  }

  .pagination {

    li {
      vertical-align: top;
      font-size: 16px;
      font-weight: bold;
      /* margin: 0 2px; */

      .sr-only {
        display: none !important;
      }

      border-radius: 5px;
      cursor: pointer;

      a {
        font-size: 16px;
        position: relative;
        display: block;
        text-align: center;
        width: 2.625rem;
        height: 2.625rem;
        line-height: 2.625rem;
        color: #000;
        text-decoration: none;
        transition: 0.3s;
        background: #fff;
        border-radius: 7px;

      }

      span {
        font-size: 16px;
        position: relative;
        display: block;
        text-align: center;
        width: 2.625rem;
        height: 2.625rem;
        line-height: 2.625rem;
        color: #fff;
        text-decoration: none;
        transition: 0.3s;
        background: #299c48;
        border-radius: 7px;
        cursor: pointer;

        &:hover {
          background-color: #31ab52;
          color: #fff !important;
        }

      }


    }


    .pagination-prev, .pagination-next {
      span, a {

        background-color: #fff;
        color: #000;

        &:hover {
          color: #747474 !important;
        }
      }
    }

  }
}

#registerForm
.title {
  @media (min-width: @screen-md-min) {

    .form-group.has-error {

      .help-block {
        position: absolute
      }
    }
  }


}

.variant-name {
  display: none;
}


#add_to_cart_storepickup_form .qty-selector .form-control {
  height: 27px !important;
}


#add_to_cart_storepickup_form {

  .SelectitemUnit {
    @media (max-width: @screen-sm-max) {
      margin: 10px 0 ;
    }
  }
}

.page-cartPage {
  .expressdelivery {
    margin: 5px 0 !important;
  }
}


.item__delivery--label {


  font-size: 13px;
}

.item__delivery--store {
  font-size: 12px;
  padding-left: 16px;
  color: #2d8820;
  margin-bottom: 7px;
  @media (max-width: @screen-sm-max) {
    padding-left: 0;
  }
}

.addressbook {

  #cboxLoadedContent {

    max-height: 300px !important;
    height: 100% !important;
  }
}

.page-multiStepCheckoutSummaryPage {


  .checkout-order-summary .checkout-order-summary-list .price {
    margin-bottom: 5px;
  }

}


.min-height-price-per-unit {

  min-height: 37px;
  display: inline-block;
}

.carousel__item {
  .min-height-price-per-unit {

    min-height: 34px;
    display: inline-block;

    .price-per-unit, .unit {
      font-size: 12px
    }
  }

}


.product-item-content {

  .min-height-price-per-unit {

    float: left;


  }
}


.dis-block {
  display: block
}


.carousel__item, .product-item-content, .wishlist, .Pad_cart_de {

  .price-per-unit, .unit {
    font-size: 12px
  }
}

.sticky-wrapper {
  height: auto !important;
}

.is-sticky {

  .deliveryhead {
    display: none
  }
}


.product-item-content {
  .name {
    height: 40px !important;
    padding-bottom: 0px !important;
  }


  .addtocart-component {
    margin-top: 8px;
  }

  .stockLevel {
    height: auto !important;
    font-size: 13px;
    position: absolute;
    top: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.3);
    left: 0;
    right: 0;

    .OutOfStock {
      position: absolute;
      bottom: 4px;
      color: #000;
      text-shadow: 0px 0px 2px #fff;
    }
  }
}

.carousel__item {
  .carousel__item--thumb {
    position: relative;
    overflow: hidden;

    .stockLevel {
      height: auto !important;
      font-size: 13px;
      position: absolute;
      top: 0;
      bottom: 0;
      background: rgba(255, 255, 255, 0.3);
      left: 0;
      right: 0;

      .OutOfStock {
        position: absolute;
        bottom: 4px;
        color: #000;
        text-shadow: 0px 0px 2px #fff;
      }
    }
  }
}

.minorder {

  color: #726962;

  .minval {
    color: #bf8948;
    font-weight: 700;
  }
}

.changeLocation, .time-format {
  margin-left: 5px;
  text-decoration: underline !important;
}


.lang-form {
  .form-group {
    margin-bottom: 0 !important;

    .dropdown-toggle {
      background-color: #fff !important;
      color: #801c2c !important;
      font-size: 14px !important;
    }
  }

  .btn-group.open .dropdown-toggle {
    box-shadow: none !important;
  }


}

.redicon {
  color: #801c2c;
  font-size: 24px;
}

.mini-cart-price {
  font-size: 16px;
  color: #7f1c2c;
  font-weight: 600;
}

.js_search_button {
  color: #801c2c;
}

.bannarImagecar {
  margin: 30px 10px;
  @media (max-width: @screen-sm-max) {
    margin: 15px 10px;
  }

  .banner__component--responsive.mega-hover {
    border-radius: 15px;
  }
}

.bannerImgSection {
  margin-top: 15px;

  .simple-banner.mega-hover {
    border-radius: 30px;
  }
}

.cardivmobile {
  @media (max-width: @screen-xs-max) {
    padding: 0 10px;
  }
}

.mini-cart-price {
  font-size: 16px;
  color: #7f1c2c;
  font-weight: 600;
}

.js_search_button {
  color: #801c2c;
}

.bannarImagecar {
  margin: 30px 10px;
}

@media (max-width: 1023px) {
  .bannarImagecar {
    margin: 15px 0px;
  }
}

@media (max-width: 639px) {
  .bannarImagecar {
    margin: 15px 10px;
  }
}

.bannarImagecar .banner__component--responsive.mega-hover {
  border-radius: 15px;
}

.bannerImgSection {
  margin-top: 15px;
}

.bannerImgSection .simple-banner.mega-hover {
  border-radius: 30px;
}

@media (max-width: 639px) {
  .cardivmobile {
    padding: 0 10px;
  }
}

.js_search_button span {
  color: #801c2c !important;
}

@media (max-width: 1023px) {
  .pos-re {
    padding-bottom: 100px;
    position: relative;
  }

  .pos-re .deliveryhead {
    position: absolute;
    z-index: 2;
    width: 100%;
    bottom: 0px;
  }
}

@media (max-width: 1023px) {
  .main__inner-wrapper .bannerImgSection img {
    margin-top: 15px;
  }
}

@media (max-width: 1023px) {
  .is-sticky .site-search {
    display: none !important;
  }
}

/*.AddToCart-PickUpInStoreAction{display: none !important}*/
.page-details-add-to-cart-component .row-flex-pdp {
  display: flex;
  align-items: center;
}

.page-details-add-to-cart-component .wishlistbtn {
  margin-left: 20px;
  width: 60px;
  height: 36px;
  display: inline-block;
  background: #f2f2f2;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  border: 1px solid #dbdbdb;
}

.page-details-add-to-cart-component .removeWishlistEntry {
  color: #E32220;
}

.page-details-add-to-cart-component .addWishlistEntry {
  color: #dbdbdb;
}

.js-cartItemDetailBtn {
  font-size: 20px !important;
  color: #7f1c2c !important;
}

.btn-primary:active:hover,
.btn-primary.active:hover,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary:active:focus,
.btn-primary.active:focus,
.open > .dropdown-toggle.btn-primary:focus,
.btn-primary:active.focus,
.btn-primary.active.focus,
.open > .dropdown-toggle.btn-primary.focus {
  color: #ffffff;
  background-color: #18620e !important;
  border-color: #18620e !important;
}

.js-owl-slot-time .owl-prev,
.js-owl-slot-time .owl-next {
  top: 20px !important;
}

.js-owl-slot-time .owl-prev span,
.js-owl-slot-time .owl-next span {
  display: flex;
  align-items: center;
  justify-content: center;
}

.lang-selector .btn-select {
  padding-top: 6px !important;
}

.carousel__item--price {

  .price {
    margin: 0;
  }
}

.login_action {

  .redicon {
    color: #801c2c;
  }
}

.tab_login_header {
  .redicon {
    color: #1a6c39;
  }
}

.product-main-info {

  .js-qty-selector-input {
    height: 34px !important;
  }
}

.wishListAddToCart {
  .item__price.pricetitleWishlist {


    @media (max-width: @screen-md-max) {
      padding-left: 0 !important;

    }
  }

  .js-qty-selector-input {
    width: 30px
  }
}


.Pad_cart_de {

  .item__list--header .item__price {

    @media (min-width: 1200px) {
      padding-left: 0px !important;
    }

  }
}


.product-item-content {
  .js-qty-selector-input {
    width: 35px;
  }

  .add_to_cart_form {
    justify-content: flex-start;
    marign-top: 5px;

    .qty-selector {
    }
  }

  .qty-selector .js-qty-selector-minus, .qty-selector .js-qty-selector-plus {
    padding: 3.5px 6px !important;

  }

}

.plpPadd {
  .pagSection {
    .pagination {


      display: none !important;


    }
  }

}


.has-success input.form-control {
  background: #F2F9FF;
  border-color: #4396D2;
  border-color: #424242;
  border: 1px solid #4396D2 !important;
}


.myAccountList {

  @media (min-width: @screen-md-min) {
    font-size: 24px !important;
    color: #80242c !important;
  }

}

.date-dropdowns {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .btn-group.bootstrap-select {
    max-width: 100% !important;
    width: 100% !important;
    margin: 0 10px;
  }

  .day {
    margin-left: 0 !important
  }

  .year {
    margin-right: 0 !important
  }
}

.description-pdp {
  .title-description {
    font-size: 16px;
    display: block;
    text-align: left;

    font-weight: 400;
    color: #295e41;
    text-transform: uppercase;
    margin: 20px 0 10px;

  }

  li {
    margin: 4px 0 0 12px;
    list-style: none;
  }

  li::before {
    content: "\2022";
    color: #cb802a;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
  }
}

.wishlisticon {

  padding-top: 9px;
}

.sortForm1 {

  .bootstrap-select {
    box-shadow: none !important;
  }
}


.no-margin.w1300 {
  @media (min-width: 1300px) {
    margin: 0 auto !important;
  }
}


.algin-footer {
  @media (min-width: @screen-md-min) {
    display: flex;
    align-items: center;
  }

}


.js-cartItemDetailGroup {

  .dropdown-menu.dropdown-menu-right {

    display: none !important;
  }
}

.forgotten-password {

  max-width: 450px;
  margin: 0 auto;
  width: 100%;
  margin-top: 20px;

  button {

    max-width: 150px;
    margin: 0 auto;
  }
}

#cboxLoadedContent {
  .forgotten-password {
    max-width: 100% !important;
    margin: auto;
    width: 100%;
  }

  button {

    max-width: 100%;
    margin: 0 auto;
  }
}


#colorbox.addressbook {

  outline: 0;
  max-height: 500px !important;
  height: 100% !important;

  #cboxWrapper {
    max-width: none;
    height: 100% !important;
  }

  #cboxContent {
    background: #fff;
    overflow: hidden;
    height: 100% !important;
  }

  #cboxLoadedContent {
    max-height: 223px !important;
    height: 100% !important;
  }

}


.outstock {
  position: absolute;
  bottom: 0;
  color: #000;
  left: 0;
}


.language-ar {
  .checkmark:after {

    border-width: 0 0 2px 2px !important;
    transform: rotate(-45deg) !important;
  }
}


.logged_in.js-logged_in {


  @media (min-width: @screen-md-min) {

    .js-accNavComponent.NAVcompONENT {

      left: 0px !important;
      top: 38px !important;
    }

    display: flex !important;
    align-items: center;
    position: relative;
    .js-myAccount-toggle {
      padding: 0 !important;
    }

    .text-wellcome {
      max-width: 70px;
      text-align: center;
      margin-right: 1px;
      color: #000;
      cursor: pointer;
      font-weight: 600;
    }

    .header_arrow_list {

      cursor: pointer;
      margin-left: 4px;
    }

  }

}

.text-login {
  font-size: 12px;
  font-weight: 600;
  margin-left: 7px;
  margin-top: 4px;
  text-decoration: none !important;
}

.registration.click_border {
  position: relative;
}

.login_action {
  display: flex !important;
  align-items: center;
  text-decoration: none !important;

}


.is-sticky ~ .main__inner-wrapper {
  @media (min-width: @screen-md-min) {
    min-height: 700px;
    padding-top: 200px
  }

  @media (max-width: @screen-sm-max) {
    min-height: 700px;
    padding-top: 170px
  }

}


.product-item ,.page-details-add-to-cart-component{
  .js-qty-selector {
    span {
      color: #1a6b39 !important;
    }

  }
}